<div class="short-description">
	<h2>{GSSE_LANG_LangTagBundleConsistsOf}</h2>
	<div class="std">
		<table id="super-product-table" class="data-table grouped-items-table">
			<colgroup>
				<col>
				<col>
				<col width="1">
			</colgroup>
			<thead>
				<tr class="first last">
					<th>&nbsp;</th>
					<th>{GSSE_LANG_LangTagTextItem}</th>
					<th class="a-center">{GSSE_LANG_LangTagFieldQuantity}</th>
					<th class="a-right">{GSSE_LANG_LangTagTextUnitPrice}</th>
				</tr>
			</thead>
			<tbody>
				{GSSE_INCL_BUNDLEITEMS}
				<tr class="last {GSSE_INCL_EOO}">
					<td colspan="3" class="a-right">
						{GSSE_LANG_LangTagTextTotalPrice}
					</td>
					<td class="a-right">
						<div class="price-box">
							<span id="product-price-53" class="regular-price">
									<span class="price">{GSSE_INCL_TOTALPRICE}</span>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>