<input type="hidden" name="redirect" value="{GSSE_INCL_REDIRECT}index.php?page=thankyou" />
<input type="hidden" name="subject" value="{GSSE_LANG_LangTagOrderGSShopBuilder}" />
<input type="hidden" name="recipient" value="{GSSE_TXDB_setting|SettingValue|SettingName|edOrderEmail_Text}" />
<input type="hidden" name="answer_subject" value="{GSSE_TXDB_setting|SettingValue|SettingName|e_emailsubject_Text}" />
<input type="hidden" name="answer_text" value="" />
<input type="hidden" name="logindata_email_text1" value="{GSSE_TXDB_contentpool|Text|Name|LoginDataEmailText1}" />
<input type="hidden" name="logindata_email_text2" value="{GSSE_TXDB_contentpool|Text|Name|LoginDataEmailText2}" />
<input type="hidden" name="userdata" value="{GSSE_LANG_LangTagUserdata}" /> 
<input type="hidden" name="dear" id="dear" value="{GSSE_LANG_LangTagDear}" />
<input type="hidden" name="user" value="{GSSE_LANG_LangTagTextUser}" />
<input type="hidden" name="password" value="{GSSE_LANG_LangTagTextPassword}" />
<input type="hidden" name="position" value="{GSSE_LANG_LangTagTextPosition}" />
<input type="hidden" name="answer_greeting_text" value="{GSSE_TXDB_settingmemo|SettingMemo|SettingName|memoEmailGreetingText}" />
<input type="hidden" name="answer_customer_infos" value="{GSSE_TXDB_contentpool|Text|Name|PaymentText} {GSSE_TXDB_settingmemo|SettingMemo|SettingName|memoCustomerInfos}" />
<input type="hidden" name="your_rating" value="{GSSE_LANG_LangTagTextYourRating}" />
<input type="hidden" name="your_rating_shop" value="{GSSE_LANG_LangTagTextYourRatingShop}" />
<input type="hidden" name="your_rating_acticle" value="{GSSE_LANG_LangTagTextYourRatingArticle}" />
<input type="hidden" name="answer_provider" value="{GSSE_TXDB_settingmemo|SettingMemo|SettingName|memoProvider}" />
<input type="hidden" name="answer_text_end" value="{GSSE_TXDB_settingmemo|SettingMemo|SettingName|memoEmailTextEnd}" />
<input type="hidden" name="emailsender" value="{GSSE_LANG_LangTagFieldSender}" />
<input type="hidden" name="currency" value="{GSSE_TXDB_setting|SettingValue|SettingName|edCurrencySymbol_Text}" />
<input type="hidden" name="encluded" value="{GSSE_LANG_LangTagTextEncludedVAT}" />
<input type="hidden" name="billingAddress" value="{GSSE_LANG_LangTagBillingAddress}" />
<input type="hidden" name="shippingAddress" value="{GSSE_LANG_LangTagShippingAddress}" />
<input type="hidden" name="pid" value="{GSSE_LANG_LangTagFieldPIDLong}" />
<input type="hidden" name="goodsvalue" value="{GSSE_LANG_LangTagTextGoodsValue}" />
<input type="hidden" name="shopname" value="{GSSE_TXDB_setting|SettingValue|SettingName|edShopTitle_Text}" />
<input type="hidden" name="downloaddir" value="{GSSE_INCL_DOWNLOADDIR}" />
<input type="hidden" name="downloadtxt" value="{GSSE_INCL_DOWNLOADTXT}" />
<input type="hidden" name="MailScriptURL" value="{GSSE_TXDB_setting|SettingValue|SettingName|edMailScriptURL_Text}" />
<input type="hidden" name="VersionString" value="gs_software_ag" />
<input type="hidden" name="gsAttachment" value="{GSSE_INCL_USEATTACH}" />
<input type="hidden" name="Charset" value="{GSSE_LANG_LangTagCharset}" />
<input type="hidden" name="{GSSE_LANG_LangTagItemData}" value="---------------------------------------------------------------------------" />
<input type="hidden" name="{GSSE_LANG_LangTagPersonalData}" value="---------------------------------------------------------------------------" />

<!--Personenbezogene Daten-->
<input type="hidden" name="_LANGTAGFNFIELDCUSTOMERNR_" id="_LANGTAGFNFIELDCUSTOMERNR_" value="{GSSE_VALUE_LangTagFNFieldCustomerNR}" />
<input type="hidden" name="_LANGTAGFNFIELDCOMPANY_" id="_LANGTAGFNFIELDCOMPANY_" value="{GSSE_VALUE_LangTagFNFieldCompany}" />
<input type="hidden" name="_LANGTAGFNFIELDFIRMVATID_" id="_LANGTAGFNFIELDFIRMVATID_" value="{GSSE_VALUE_LangTagFNFieldFirmVATId}" />
<input type="hidden" name="_LANGTAGFNFIELDFORMTOADDRESS_" id="_LANGTAGFNFIELDFORMTOADDRESS_" value="{GSSE_VALUE_LangTagFNFieldFormToAddress}" />
<input type="hidden" name="_LANGTAGFNFIELDFIRSTNAME_" id="_LANGTAGFNFIELDFIRSTNAME_" value="{GSSE_VALUE_LangTagFNFieldFirstName}" />
<input type="hidden" name="_LANGTAGFNFIELDLASTNAME_" id="_LANGTAGFNFIELDLASTNAME_" value="{GSSE_VALUE_LangTagFNFieldLastName}" />
<input type="hidden" name="_LANGTAGFNFIELDADDRESS_" id="_LANGTAGFNFIELDADDRESS_" value="{GSSE_VALUE_LangTagFNFieldAddress}" />
<input type="hidden" name="_LANGTAGFNFIELDZIPCODE_" id="_LANGTAGFNFIELDZIPCODE_" value="{GSSE_VALUE_LangTagFNFieldZipCode}" />
<input type="hidden" name="_LANGTAGFNFIELDCITY_" id="_LANGTAGFNFIELDCITY_" value="{GSSE_VALUE_LangTagFNFieldCity}" />
<input type="hidden" name="_LANGTAGFNFIELDADDRESS2_" id="_LANGTAGFNFIELDADDRESS2_" value="{GSSE_VALUE_LangTagFNFieldAddress2}" />
<input type="hidden" name="_LANGTAGFNFIELDSTATE_" id="_LANGTAGFNFIELDSTATE_" value="{GSSE_VALUE_LangTagFNFieldState}" />
<input type="hidden" name="_LANGTAGFNFIELDSTATEID_" id="_LANGTAGFNFIELDSTATEID_" value="{GSSE_VALUE_LangTagFNFieldState}" />
<input type="hidden" name="email" id="email" value="{GSSE_VALUE_email}" />
<input type="hidden" name="_LANGTAGFNFIELDPHONE_" id="_LANGTAGFNFIELDPHONE_" value="{GSSE_VALUE_LangTagFNFieldPhone}" />
<input type="hidden" name="_LANGTAGFNFIELDFAX_" id="_LANGTAGFNFIELDFAX_" value="{GSSE_VALUE_LangTagFNFieldFax}" />
<input type="hidden" name="_LANGTAGFNFIELDMOBIL_" id="_LANGTAGFNFIELDMOBIL_" value="{GSSE_VALUE_LangTagFNFieldMobil}" />
<input type="hidden" name="_LANGTAGFNFIELDGEBURTSDATUM_" id="_LANGTAGFNFIELDGEBURTSDATUM_" value="{GSSE_VALUE_LangTagFNFieldGeburtsdatum}" />
<input type="hidden" name="_LANGTAGFNFIELDAKTKEY_" id="_LANGTAGFNFIELDAKTKEY_" value="{GSSE_VALUE_LangTagFNFieldAktKey}" />
<input type="hidden" name="_LANGTAGFNFINANCIALINSTITUTION_" id="_LANGTAGFNFINANCIALINSTITUTION_" value="{GSSE_VALUE_LangTagFNFinancialInstitution}" />
<input type="hidden" name="_LANGTAGFNBANKCODENUMBER_" id="_LANGTAGFNBANKCODENUMBER_" value="{GSSE_VALUE_LangTagFNBankCodeNumber}" />
<input type="hidden" name="_LANGTAGFNACCOUNTNUMBER_" id="_LANGTAGFNACCOUNTNUMBER_" value="{GSSE_VALUE_LangTagFNAccountNumber}" />
<input type="hidden" name="_LANGTAGFNACCOUNTHOLDER_" id="_LANGTAGFNACCOUNTHOLDER_" value="{GSSE_VALUE_LangTagFNAccountHolder}" />
<input type="hidden" name="_LANGTAGFNCREDITCARD_" id="_LANGTAGFNCREDITCARD_" value="{GSSE_VALUE_LangTagFNCreditCard}" />
<input type="hidden" name="_LANGTAGFNMONTHEXPIRATIONDATE_" id="_LANGTAGFNMONTHEXPIRATIONDATE_" value="{GSSE_VALUE_LangTagFNMonthExpirationDate}" />
<input type="hidden" name="_LANGTAGFNYEAREXPIRATIONDATE_" id="_LANGTAGFNYEAREXPIRATIONDATE_" value="{GSSE_VALUE_LangTagFNYearExpirationDate}" />
<input type="hidden" name="_LANGTAGFNCREDITCARDNUMBER_" id="_LANGTAGFNCREDITCARDNUMBER_" value="{GSSE_VALUE_LangTagFNCreditCardNumber}" />
<input type="hidden" name="_LANGTAGFNISSUENUMBER_" id="_LANGTAGFNISSUENUMBER_" value="{GSSE_VALUE_LangTagFNIssueNumber}" />
<input type="hidden" name="_LANGTAGFNSECURITYCODE_" id="_LANGTAGFNSECURITYCODE_" value="{GSSE_VALUE_LangTagFNSecurityCode}" />
<input type="hidden" name="_LANGTAGFNCREDITCARDHOLDER_" id="_LANGTAGFNCREDITCARDHOLDER_" value="{GSSE_VALUE_LangTagFNCreditCardHolder}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGCOMPANY_" id="_LANGTAGFNFIELDSHIPPINGCOMPANY_" value="{GSSE_VALUE_LangTagFNFieldShippingCompany}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGFORMTOADDRESS_" id="_LANGTAGFNFIELDSHIPPINGFORMTOADDRESS_" value="{GSSE_VALUE_LangTagFNFieldShippingFormToAddress}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGFIRSTNAME_" id="_LANGTAGFNFIELDSHIPPINGFIRSTNAME_" value="{GSSE_VALUE_LangTagFNFieldShippingFirstName}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGLASTNAME_" id="_LANGTAGFNFIELDSHIPPINGLASTNAME_" value="{GSSE_VALUE_LangTagFNFieldShippingLastName}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGSTREET_" id="_LANGTAGFNFIELDSHIPPINGSTREET_" value="{GSSE_VALUE_LangTagFNFieldShippingStreet}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGZIPCODE_" id="_LANGTAGFNFIELDSHIPPINGZIPCODE_" value="{GSSE_VALUE_LangTagFNFieldShippingZipCode}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGCITY_" id="_LANGTAGFNFIELDSHIPPINGCITY_" value="{GSSE_VALUE_LangTagFNFieldShippingCity}" />
<input type="hidden" name="_LANGTAGFNFIELDSHIPPINGADDRESS2_" id="_LANGTAGFNFIELDSHIPPINGADDRESS2_" value="{GSSE_VALUE_LangTagFNFieldShippingAddress2}" />
<input type="hidden" name="_LANGTAGFNFIELDMESSAGE_" id="_LANGTAGFNFIELDMESSAGE_" value="{GSSE_VALUE_LangTagFNFieldMessage}" />
<input type="hidden" name="_LANGTAGFNTERMSANDCONDNEWSLETTER_" id="_LANGTAGFNTERMSANDCONDNEWSLETTER_" value="{GSSE_VALUE_LangTagFNTermsAndCondNewsletter}" />
<input type="hidden" name="_LANGTAGFNTERMSANDCOND_" id="_LANGTAGFNTERMSANDCOND_" value="{GSSE_VALUE_LangTagFNTermsAndCond}" />
<input type="hidden" name="_LANGTAGFNTERMSANDCONDWITHDRAWAL_" id="_LANGTAGFNTERMSANDCONDWITHDRAWAL_" value="{GSSE_VALUE_LangTagFNTermsAndCondWithdrawal}" />
<input type="hidden" name="_LANGTAGFNFIELDEMAILFORMAT_" id="_LANGTAGFNFIELDEMAILFORMAT_" value="{GSSE_VALUE_LangTagFNFieldEmailFormat}" />
<input type="hidden" name="_LANGTAGFNFIELDPID_" id="_LANGTAGFNFIELDPID_" value="{GSSE_INCL_PID}" />
<input type="hidden" name="loginemail" value="1" />
<input type="hidden" name="_LANGTAGFNFIELDSHOPURL_" value="{GSSE_TXDB_setting|SettingValue|SettingName|edAbsoluteShopPath_Text}" />
<input name="additionalval1" id="additionalval1" value="" type="hidden" />
<input name="additionalval2" id="additionalval2" value="" type="hidden" />
<input name="additionalval3" id="additionalval3" value="" type="hidden" />
<input name="additionalval4" id="additionalval4" value="" type="hidden" />
<input name="additionalval5" id="additionalval5" value="" type="hidden" />

<!--Artikeldaten-->
{GSSE_INCL_ITEMHIDDENFIELDS}

<!--Zusammenfassung-->
{GSSE_INCL_ITEMSUMMARYFIELDS}

<!--Feldnamen-->
<input name="_GSSBTXTFNFIELDQUANTITY_" value="{GSSE_LANG_LangTagFNFieldQuantity}" type="hidden" />
<input name="_GSSBTXTFNFIELDITEMNUMBER_" value="{GSSE_LANG_LangTagItemNumberLong}" type="hidden" />
<input name="_GSSBTXTFNFIELDIMAGE_" value="{GSSE_LANG_LangTagFNFieldImage}" type="hidden" />
<input name="_GSSBTXTFNFIELDTEXTITEM_" value="{GSSE_LANG_LangTagFNFieldTextItem}" type="hidden" />
<input name="_GSSBTXTFNFIELDDOWNLOADTXT_" value="{GSSE_LANG_LangTagFNFieldDownloadTxt}" type="hidden" />
<input name="_GSSBTXTFNFIELDTEXTUNITPRICE_" value="{GSSE_LANG_LangTagFNFieldTextUnitPrice}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHORTVAT_" value="{GSSE_LANG_LangTagFNFieldShortVat}" type="hidden" />
<input name="_GSSBTXTFNFIELDTOTALPRICE_" value="{GSSE_LANG_LangTagFNFieldTotalPrice}" type="hidden" />
<input name="_GSSBTXTFNFIELDLOCTOTAL_" value="{GSSE_LANG_LangTagFNFieldLocTotal}" type="hidden" />
<input name="_GSSBTXTFNFIELDLOCDISCOUNT_" value="{GSSE_LANG_LangTagFNFieldLocDiscount}" type="hidden" />
<input name="_GSSBTXTFNFIELDCUSTDISCOUNT_" value="{GSSE_LANG_LangTagFieldDiscount}" type="hidden" />
<input name="_GSSBTXTFNFIELDPAYMENT_" value="{GSSE_LANG_LangTagFNFieldPayment}" type="hidden" />
<input name="_GSSBTXTFNFIELDCASHDISCOUNT_" value="{GSSE_LANG_LangTagFNFieldCashDiscountPercent}" type="hidden" />
<input name="_GSSBTXTFNFIELDPAYMENTCHARGE_" value="{GSSE_LANG_LangTagFNFieldPaymentCharge}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGADDRESSAREA_" value="{GSSE_LANG_LangTagFNFieldShippingAddressArea}" type="hidden" />
<input name="_GSSBTXTFNFIELDDELIVERY_" value="{GSSE_LANG_LangTagFNFieldDelivery}" type="hidden" />
<input name="_GSSBTXTFNFIELDPOSTAGE_" value="{GSSE_LANG_LangTagFNFieldPostage}" type="hidden" />
<input name="_GSSBTXTFNFIELDSUBTOTAL_" value="{GSSE_LANG_LangTagFNSubTotal}" type="hidden" />
<input name="_GSSBTXTFNFIELDTOTALAMOUNT_" value="{GSSE_LANG_LangTagFNTotalAmount}" type="hidden" />
<input name="_GSSBTXTFNFIELDVAT_" value="{GSSE_LANG_LangTagFNFieldShortVat}" type="hidden" />
<input name="_GSSBTXTFNFIELDLONGVAT_" value="{GSSE_LANG_LangTag__FieldLongVat}" type="hidden" />
<input name="_GSSBTXTFNFIELDAVAIL_" value="{GSSE_LANG_LangTagFNFieldAvail}" type="hidden" />
<input name="_GSSBTXTFNFIELDCOMPANY_" value="{GSSE_LANG_LangTagFNFieldCompany}" type="hidden" />
<input name="_GSSBTXTFNFIELDCUSTOMERNR_" value="{GSSE_LANG_LangTagFNFieldCustomerNR}" type="hidden" />
<input name="_GSSBTXTFNFIELDFIRMVATID_" value="{GSSE_LANG_LangTagFNFieldFirmVATId}" type="hidden" />
<input name="_GSSBTXTFNFIELDFORMTOADDRESS_" value="{GSSE_LANG_LangTagFNFieldFormToAddress}" type="hidden" />
<input name="_GSSBTXTFNFIELDFIRSTNAME_" value="{GSSE_LANG_LangTagFNFieldFirstName}" type="hidden" />
<input name="_GSSBTXTFNFIELDLASTNAME_" value="{GSSE_LANG_LangTagFNFieldLastName}" type="hidden" />
<input name="_GSSBTXTFNFIELDADDRESS_" value="{GSSE_LANG_LangTagFNFieldAddress}" type="hidden" />
<input name="_GSSBTXTFNFIELDADDRESS2_" value="{GSSE_LANG_LangTagFNFieldAddress2}" type="hidden" />
<input name="_GSSBTXTFNFIELDCITY_" value="{GSSE_LANG_LangTagFNFieldCity}" type="hidden" />
<input name="_GSSBTXTFNFIELDZIPCODE_" value="{GSSE_LANG_LangTagFNFieldZipCode}" type="hidden" />
<input name="_GSSBTXTFNFIELDSTATE_" value="{GSSE_LANG_LangTagFNFieldState}" type="hidden" />
<input name="_GSSBTXTFNFIELDEMAIL_" value="{GSSE_LANG_LangTagFNFieldEmail}" type="hidden" />
<input name="_GSSBTXTFNFIELDPHONE_" value="{GSSE_LANG_LangTagFNFieldPhone}" type="hidden" />
<input name="_GSSBTXTFNFIELDPID_" value="{GSSE_LANG_LangTagFNFieldPID}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHOPURL_" value="{GSSE_LANG_LangTagFNFieldShopURL}" type="hidden" />
<input name="_GSSBTXTFNFIELDMESSAGE_" value="{GSSE_LANG_LangTagFNFieldMessage}" type="hidden" />
<input name="_GSSBTXTFNFIELDFAX_" value="{GSSE_LANG_LangTagFNFieldFax}" type="hidden" />
<input name="_GSSBTXTFNFIELDMOBIL_" value="{GSSE_LANG_LangTagFNFieldMobil}" type="hidden" />
<input name="_GSSBTXTFNTERMSANDCOND_" value="{GSSE_LANG_LangTagFNTermsAndCond}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGCOMPANY_" value="{GSSE_LANG_LangTagFNFieldShippingCompany}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGFORMTOADDRESS_" value="{GSSE_LANG_LangTagFNFieldShippingFormToAddress}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGFIRSTNAME_" value="{GSSE_LANG_LangTagFNFieldShippingFirstName}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGLASTNAME_" value="{GSSE_LANG_LangTagFNFieldShippingLastName}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGSTREET_" value="{GSSE_LANG_LangTagFNFieldShippingStreet}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGADDRESS2_" value="{GSSE_LANG_LangTagFNFieldShippingAddress2}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGCITY_" value="{GSSE_LANG_LangTagFNFieldShippingCity}" type="hidden" />
<input name="_GSSBTXTFNFIELDSHIPPINGZIPCODE_" value="{GSSE_LANG_LangTagFNFieldShippingZipCode}" type="hidden" />
<input name="_GSSBTXTFNTERMSANDCONDWITHDRAWAL_" value="{GSSE_LANG_LangTagFNTermsAndCondWithdrawal}" type="hidden" />
<input name="_GSSBTXTFNTERMSANDCONDNEWSLETTER_" value="{GSSE_LANG_LangTagFNTermsAndCondNewsletter}" type="hidden" />
<input name="_GSSBTXTFNFIELDGEBURTSDATUM_" value="{GSSE_LANG_LangTagFNFieldGeburtsdatum}" type="hidden" />
<input name="_GSSBTXTFNFIELDAKTKEY_" value="{GSSE_LANG_LangTagFieldAktKey}" type="hidden" />
<input name="_GSSBTXTFNFIELDADD_1" id="_GSSBTXTFNFIELDADD_1" value="" type="hidden" />
<input name="_GSSBTXTFNFIELDADD_2" id="_GSSBTXTFNFIELDADD_2" value="" type="hidden" />
<input name="_GSSBTXTFNFIELDADD_3" id="_GSSBTXTFNFIELDADD_3" value="" type="hidden" />
<input name="_GSSBTXTFNFIELDADD_4" id="_GSSBTXTFNFIELDADD_4" value="" type="hidden" />
<input name="_GSSBTXTFNFIELDADD_5" id="_GSSBTXTFNFIELDADD_5" value="" type="hidden" />

<!--A TS 12.09.2014: Payment-Services-Return Infos-->
<!--PayPal-->
<input type="hidden" name="pp_state" id="pp_state" value="{GSSE_INCL_PPSTATE}" />
<input type="hidden" name="pp_token" id="pp_token" value="{GSSE_INCL_PPTOKEN}" />
<input type="hidden" name="pp_paymentid" id="pp_paymentid" value="" />
<!--E TS-->

<!--A SM 12.09.2014: Payment-Services-Return Infos-->
<!--Saferpay-->
<input type="hidden" name="sp_state" id="sp_state" value="{GSSE_INCL_SPSTATE}" />
<!--E SM-->

<!--A TS 21.07.2016: Feld für die Kunden-Login-Seite-->
<input type="hidden" name="CUST_LOGIN_PAGE" id="CUST_LOGIN_PAGE" value="login" />
<!--E TS 21.07.2016: Feld für die Kunden-Login-Seite-->