<div class="grid_24 omega">
	<ul class="links show-menu" style="border: none;">
		<li class="first"><a href="index.php?page=customerlastorder" title="{GSSE_LANG_LangTagViewOrderData}">{GSSE_LANG_LangTagViewOrderData}</a></li>
		<li><a href="index.php?page=customerdownloadarea" title="{GSSE_LANG_LangTag__DownloadTxt}">{GSSE_LANG_LangTag__DownloadTxt}</a></li>
		<li><a href="index.php?page=addressdata_login" title="{GSSE_LANG_LangTagTextChgCData1}">{GSSE_LANG_LangTagTextChgCData1}</a></li>
		{GSSE_IF_PHPNOTEPAD}<li><a href="index.php?page=gs_notepad" title="{GSSE_LANG_LangTagNotepad}">{GSSE_LANG_LangTagNotepad}</a></li>{GSSE_ENDIF_PHPNOTEPAD}
		{GSSE_IF_PHPWISHLIST}<li><a href="index.php?page=gs_wishlist" title="{GSSE_LANG_LangTagOwnWishList1}">{GSSE_LANG_LangTagOwnWishList1}</a></li>{GSSE_ENDIF_PHPWISHLIST}
		{GSSE_IF_PHPUSERCOMM}<li><a href="index.php?page=gs_commentsuser" title="{GSSE_LANG_LangTagTextMyComments1}">{GSSE_LANG_LangTagTextMyComments1}</a></li>{GSSE_ENDIF_PHPUSERCOMM}
		{GSSE_IF_PHPSHOPCOMM}<li><a href="index.php?page=gs_addshopcomment" title="{GSSE_LANG_LangTagTextRateShop}">{GSSE_LANG_LangTagTextRateShop}</a></li>{GSSE_ENDIF_PHPSHOPCOMM}
		{GSSE_IF_PHPBONUS}<li><a href="index.php?page=gs_bonuses" title="{GSSE_LANG_LangTagBonuses1}">{GSSE_LANG_LangTagBonuses1}</a></li>{GSSE_ENDIF_PHPBONUS}
		<li class="last"><a href="index.php?page=password_popup" title="{GSSE_LANG_LangTagTextChangePassword}">{GSSE_LANG_LangTagTextChangePassword}</a></li>
	</ul>
</div>
