<div class="product-collateral">
	<div style="{GSSE_CLASS_EXDESC}">
		<div class="short-description">
			<span>{GSSE_LANG_LangTagExtendedDesc}</span>
			<div class="std">
				{GSSE_INCL_EXDESC}
			</div>
		</div>
	</div>
	{GSSE_INCL_DSREVIEWS}
	<div style="{GSSE_CLASS_MANUINFOS}">
		<div class="short-description">
			<span>{GSSE_LANG_LangTagManufacturer}</span>
			<table id="product-attribute-specs-table" class="data-table">
				<colgroup>
					<col width="25%">
					<col>
				</colgroup>
				<tbody>
					{GSSE_INCL_MANUINFOS}
				</tbody>
			</table>
			<script type="text/javascript">
				decorateTable('product-attribute-specs-table')
			</script>
		</div>
	</div>
	<div style="{GSSE_CLASS_DOWNLOADS}">
		<div class="short-description">
			<span>Downloads</span>
			<div class="gs-downloads-table">
				{GSSE_INCL_DOWNLOADS}
			</div>
		</div>
	</div>
	<div style="{GSSE_CLASS_HTMLTEXT1}">
		<div class="widget widget-static-block ">
			<div class="short-description">
				<span>{GSSE_INCL_HTML1CAPTION}</span>
				<div class="std">
					{GSSE_INCL_HTMLTEXT1}
				</div>
			</div>
		</div>
	</div>
	<div style="{GSSE_CLASS_HTMLTEXT2}">
		<div class="widget widget-static-block ">
			<div class="short-description">
				<span>{GSSE_INCL_HTML2CAPTION}</span>
				<div class="std">
					{GSSE_INCL_HTMLTEXT2}
				</div>
			</div>
		</div>
	</div>
</div>