<div class="grid_24">
	<div class="widget widget-static-block ">
		<div class="footer_links">
			<div class="service grid_6">
				<div class="title">{GSSE_TXDB_setting|SettingValue|SettingName|edShopName_Text}</div>
				<ul>
					<li>{GSSE_TXDB_setting|SettingValue|SettingName|edShopSlogan_Text}</li>
					<li>{GSSE_TXDB_setting|SettingValue|SettingName|edShopCompany_Text}</li>
					<li>{GSSE_TXDB_setting|SettingValue|SettingName|edShopContactPerson_Text}</li>
					<li>{GSSE_TXDB_setting|SettingValue|SettingName|edShopStreet_Text}</li>
					<li>{GSSE_TXDB_setting|SettingValue|SettingName|edShopZipCode_Text}&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopCity_Text}</li>
					<li>{GSSE_TXDB_setting|SettingValue|SettingName|edShopCountry_Text}</li>
					<li class="{GSSE_INCL_CLFPPHONE}"><img src="template/images/phone.png" alt="{GSSE_LANG_LangTagFieldPhone}" />&nbsp;{GSSE_INCL_FPPHONE}</li>
					<li class="{GSSE_INCL_CLFPMOBIL}"><img src="template/images/mobile.png" alt="{GSSE_LANG_LangTagFieldPhone}" />&nbsp;{GSSE_INCL_FPMOBIL}</li>
					<li class="{GSSE_INCL_CLFPFAXNO}"><img src="template/images/fax.png" alt="{GSSE_LANG_LangTagFieldFax}" />&nbsp;{GSSE_INCL_FPFAXNO}</li>
				</ul>
			</div>
			<div class="customer_care grid_6">
				{GSSE_TXDB_contentpool|Text|Name|Standard-Content2}
			</div>
			<div class="service grid_6">
				<ul>
					<li><a title="{GSSE_LANG_LangTagShipment}" href="index.php?page=cond">{GSSE_LANG_LangTagShipment}</a></li>
					<li><a title="{GSSE_LANG_LangTagPrivacy}" href="index.php?page=privacy">{GSSE_LANG_LangTagPrivacy}</a></li>
					<li><a title="{GSSE_LANG_LangTagTermsAndCond}" href="index.php?page=conditions">{GSSE_LANG_LangTagTermsAndCond}</a></li>
					<li><a title="{GSSE_LANG_LangTagPaymentInfo}" href="index.php?page=paymentinfo">{GSSE_LANG_LangTagPaymentInfo}</a></li>
					<li><a title="{GSSE_LANG_LangTagRightOfRevocation}" href="index.php?page=right_of_revocation">{GSSE_LANG_LangTagRightOfRevocation}</a></li>
					<li><a title="{GSSE_LANG_LangTagModelWithdrawalForm}" href="JavaScript:displaywithdrawalform();">{GSSE_LANG_LangTagModelWithdrawalForm}</a></li>
					<li><a title="{GSSE_LANG_LangTagImprint}" href="index.php?page=imprint">{GSSE_LANG_LangTagImprint}</a></li>
					<li><a title="{GSSE_LANG_LangTagSitemap}" href="index.php?page=sitemap">{GSSE_LANG_LangTagSitemap}</a></li>
					<li><a title="{GSSE_LANG_LangTagWeUseCookies}" href="index.php?page=privacy#cookies">{GSSE_LANG_LangTagWeUseCookies}</a></li>
				</ul>
			</div>
			<div class="grid_6 omega">
				{GSSE_TXDB_contentpool|Text|Name|Standard-Content7}
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
{GSSE_FUNC_TRUSTEDSHOPS}
<!--<div class="grid_24">
	<div class="widget widget-static-block ">
		GSSE_FUNC_FOOTERNEWSLETTER
	</div>
</div>-->

