<div class="my-account">
	<table id="my-orders-table" class="data-table">
		<colgroup>
			<col width="1"></col>
			<col width="1"></col>
			<col></col>
			<col width="1"></col>
			<col width="1"></col>
		</colgroup>
		<thead>
			<tr class="first last">
				<th>{GSSE_LANG_LangTagOrderData}</th>
				<th>{GSSE_LANG_LangTagOrderDate}</th>
				<th>{GSSE_LANG_LangTagAddress}</th>
				<th>{GSSE_LANG_LangTagFieldTotalPrice}</th>
				<th></th>
			</tr>
			<tbody>
				{GSSE_INCL_LASTORDERSNEW}
			<tbody>
		</thead>
	</table>
</div>