<ol id="cart-sidebar" class="mini-products-list no_quickshop">
	{GSSE_INCL_MBITEMS}
</ol>
<div class="summary">
	<p class="subtotal">
		<span class="label">{GSSE_LANG_LangTagTextGoodsValue}:</span>
		<span class="price">{GSSE_INCL_MBSUBTOTAL}</span>
	</p>
</div>
<div class="actions">
	<button class="{GSSE_INCL_SHOWCOBUTTON}" onclick="self.location.href = '{GSSE_INCL_BUYURL}';" title="{GSSE_LANG_LangTagOrder}" type="button">
		<span>
			<span>{GSSE_LANG_LangTagOrder}</span>
		</span>
	</button>
	<p class="{GSSE_MSG_ERRORNEWCLASS}">{GSSE_MSG_ERRORNEW}</p>
	<a class="mobile_cartlink" title="" href="{GSSE_INCL_BASKETURL}">
		<span>{GSSE_LANG_LangTagTextViewBasket}</span>
	</a>
</div>
