<div class="div_link-cart">
	<div class="div_link-cart_inner">
		<a href="{GSSE_INCL_BASKETURL}" id="top_cart" class="top_cart">
			<p class="text_top_cart">
				<span class="glyphicon glyphicon-shopping-cart gs-cart"></span>
				<span class="cartqty">{GSSE_INCL_CARTQTY}</span>
				<span class="txtcart">{GSSE_LANG_LangTagTextBasketItem}:</span>
				<span class="cartvalue">{GSSE_INCL_CARTVALUE}</span>
			</p>
		</a>
		<div class="block block-cart" id="block-cart" style="display: none;">
			<div id="gs_minibasket_items" class="block-content">
				{GSSE_INCL_MINIBASKETITEMS}
			</div>
		</div>
	</div>
</div>
