<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>
			{GSSE_LANG_popuplang}
		</title>
		<link rel="stylesheet" href="../template/css/print.css" type="text/css" media="print" />
	</head>
	<body style="white-space: pre-wrap;">
		<div id="popup">
			<h1>{GSSE_LANG_popuplang}</h1>
			<div class="msg">
				{GSSE_TXDB_popupcontent}
			</div>
			<input class="button noPrint" type="button" name="button" onclick="window.close()" value="{GSSE_LANG_LangTagButtonCloseWindow}" />
			<input class="button noPrint" type="button" value="{GSSE_LANG_LangTagPrint}" onClick="javascript:window.print()" />
		</div>
	</body>
</html>
