<div id="creditcard" style="">
	<h2>{GSSE_TXDB_contentpool|Text|Name|CreditCard}</h2>
	<ul class="form-list">
		<li>
			<label  class="required"><em>*</em>{GSSE_LANG_LangTagCreditCard}</label>
			<div class="input-box">
				<select name="{GSSE_LANG_LangTagFNCreditCard}" id="{GSSE_LANG_LangTagFNCreditCard}" size="1" class="required-entry">
					<option value="">{GSSE_LANG_LangTagTextPleaseChoose}!</option>
					<option value="Visa">Visa</option>
					<option value="Eurocard">Eurocard / Mastercard</option>
					<option value="American Express">American Express</option>
					<option value="Diners">Diners</option>
				</select>
			</div>
		</li>
		
		<li>
			<label class="required"><em>*</em>{GSSE_LANG_LangTagExpirationDate} ({GSSE_LANG_LangTagMonth}/{GSSE_LANG_LangTagYear})</label>
			<div class="input-box">
				<input type="text" size="1" maxsize="2" name="{GSSE_LANG_LangTagFNMonthExpirationDate}" id="{GSSE_LANG_LangTagFNMonthExpirationDate}" class="input-text required-entry" value="" /> /
				<input type="text" size="3" maxsize="4" name="{GSSE_LANG_LangTagFNYearExpirationDate}" id="{GSSE_LANG_LangTagFNYearExpirationDate}" class="input-text required-entry" value="" />
			</div>
		</li>
		
		<li>
			<label  class="required"><em>*</em>{GSSE_LANG_LangTagCreditCardNumber}</label>
			<div class="input-box">
				<input type="text"	name="{GSSE_LANG_LangTagFNCreditCardNumber}" id="{GSSE_LANG_LangTagFNCreditCardNumber}" maxlength="19" class="input-text required-entry" value="" />
			</div>
		</li>
		
		<li>
			<label>{GSSE_LANG_LangTagIssueNumber}:</label>
			<div class="input-box">
				<input type="text" name="{GSSE_LANG_LangTagFNIssueNumber}" id="{GSSE_LANG_LangTagFNIssueNumber}" maxlength="19" class="input-text required-entry" value="" />
			</div>
		</li>
		
		<li>
			<label>{GSSE_LANG_LangTagSecurityCode}:</label>
			<div class="input-box">
				<input type="text" name="{GSSE_LANG_LangTagFNSecurityCode}" id="{GSSE_LANG_LangTagFNSecurityCode}" maxlength="19" class="input-text" value="" />
			</div>
		</li>
		
		<li>
			<label  class="required"><em>*</em>{GSSE_LANG_LangTagCreditCardHolderFirst}</label>
			<div class="input-box">
				<input type="text"	name="{GSSE_LANG_LangTagFNCreditCardHolderFirst}" id="{GSSE_LANG_LangTagFNCreditCardHolderFirst}" size="26" class="input-text required-entry" value="" />
			</div>
		</li>
		<li>
			<label  class="required"><em>*</em>{GSSE_LANG_LangTagCreditCardHolderLast}</label>
			<div class="input-box">
				<input type="text"	name="{GSSE_LANG_LangTagFNCreditCardHolderLast}" id="{GSSE_LANG_LangTagFNCreditCardHolderLast}" size="26" class="input-text required-entry" value="" />
			</div>
		</li>
	</ul>
</div>