<ul class='sitemap'>
	<li><a href="index.php?page=customerlastorder">{GSSE_LANG_LangTagViewOrderData}</a></li>
	<li><a href="index.php?page=customerdownloadarea">{GSSE_LANG_LangTag__DownloadTxt}</a></li>
	<li><a href="index.php?page=addressdata_login">{GSSE_LANG_LangTagTextChgCData1}</a></li>
	{GSSE_IF_PHPNOTEPAD}<li><a href="index.php?page=gs_notepad">{GSSE_LANG_LangTagNotepad}</a></li>{GSSE_ENDIF_PHPNOTEPAD}
	{GSSE_IF_PHPWISHLIST}<li><a href="index.php?page=gs_wishlist">{GSSE_LANG_LangTagOwnWishList1}</a></li>{GSSE_ENDIF_PHPWISHLIST}
	{GSSE_IF_PHPUSERCOMM}<li><a href="index.php?page=gs_commentsuser">{GSSE_LANG_LangTagTextMyComments1}</a></li>{GSSE_ENDIF_PHPUSERCOMM}
	{GSSE_IF_PHPSHOPCOMM}<li><a href="index.php?page=gs_addshopcomment">{GSSE_LANG_LangTagTextRateShop}</a></li>{GSSE_ENDIF_PHPSHOPCOMM}
	{GSSE_IF_PHPBONUS}<li><a href="index.php?page=gs_bonuses">{GSSE_LANG_LangTagBonuses1}</a></li>{GSSE_ENDIF_PHPBONUS}
	<li><a href="index.php?page=password_popup">{GSSE_LANG_LangTagTextChangePassword}</a></li>
</ul>
