{GSME|TXT|subject}:
{GSME|TXT|pid}: {GSME|TXT|_LANGTAGFNFIELDPID_}
{GSME|TXT|_LANGTAGFNFIELDSHOPURL_}

{GSME|TXT|emailsender}:

{GSME|TXT|billingAddress}:
{GSME|TXT|_GSSBTXTFNFIELDCOMPANY_}: {GSME|TXT|_LANGTAGFNFIELDCOMPANY_}
{GSME|TXT|_GSSBTXTFNFIELDCUSTOMERNR_}: {GSME|TXT|_LANGTAGFNFIELDCUSTOMERNR_}
{GSME|TXT|_GSSBTXTFNFIELDFIRMVATID_}: {GSME|TXT|_LANGTAGFNFIELDFIRMVATID_}
{GSME|TXT|_LANGTAGFNFIELDFORMTOADDRESS_} {GSME|TXT|_LANGTAGFNFIELDFIRSTNAME_} {GSME|TXT|_LANGTAGFNFIELDLASTNAME_}
{GSME|TXT|_LANGTAGFNFIELDADDRESS_}, {GSME|TXT|_LANGTAGFNFIELDZIPCODE_} {GSME|TXT|_LANGTAGFNFIELDCITY_}, {GSME|TXT|_LANGTAGFNFIELDSTATE_}
{GSME|TXT|_LANGTAGFNFIELDADDRESS2_}
{GSME|TXT|_GSSBTXTFNFIELDEMAIL_}: {GSME|TXT|email}
{GSME|TXT|_GSSBTXTFNFIELDPHONE_}: {GSME|TXT|_LANGTAGFNFIELDPHONE_}
{GSME|TXT|_GSSBTXTFNFIELDFAX_}: {GSME|TXT|_LANGTAGFNFIELDFAX_}
{GSME|TXT|_GSSBTXTFNFIELDMOBIL_}: {GSME|TXT|_LANGTAGFNFIELDMOBIL_}
{GSME|TXT|_GSSBTXTFNFIELDGEBURTSDATUM_}: {GSME|TXT|_LANGTAGFNFIELDGEBURTSDATUM_}

{GSME|TXT|shippingAddress}:
{GSME|TXT|_GSSBTXTFNFIELDCOMPANY_}: {GSME|TXT|_LANGTAGFNFIELDSHIPPINGCOMPANY_}
{GSME|TXT|_LANGTAGFNFIELDSHIPPINGFORMTOADDRESS_} {GSME|TXT|_LANGTAGFNFIELDSHIPPINGFIRSTNAME_} {GSME|TXT|_LANGTAGFNFIELDSHIPPINGLASTNAME_}
{GSME|TXT|_LANGTAGFNFIELDSHIPPINGSTREET_}, {GSME|TXT|_LANGTAGFNFIELDSHIPPINGZIPCODE_} {GSME|TXT|_LANGTAGFNFIELDSHIPPINGCITY_}, {GSME|TXT|_LANGTAGFNFIELDSTATE_}
{GSME|TXT|_LANGTAGFNFIELDSHIPPINGADDRESS2_}

{GSME|TXT|_LANGTAGFNFIELDMESSAGE_}

{GSME|TXT|_LANGTAGFNTERMSANDCOND_}

{GSME|TXT|_GSSBTXTFNFIELDAKTKEY_}: {GSME|TXT|_LANGTAGFNFIELDAKTKEY_}

{GSME|TXT|_GSSBTXTFNFIELDADD_1}: {GSME|TXT|additionalval1}
{GSME|TXT|_GSSBTXTFNFIELDADD_2}: {GSME|TXT|additionalval2}
{GSME|TXT|_GSSBTXTFNFIELDADD_3}: {GSME|TXT|additionalval3}
{GSME|TXT|_GSSBTXTFNFIELDADD_4}: {GSME|TXT|additionalval4}
{GSME|TXT|_GSSBTXTFNFIELDADD_5}: {GSME|TXT|additionalval5}

{GSME|TXT|_GSSBTXTFNTERMSANDCONDNEWSLETTER_}

{GSME|DATABAND|BEGIN}
{GSME|DATA|_LANGTAGFNFIELDQUANTITY_} x {GSME|DATA|itemId} {GSME|DATA|_LANGTAGFNFIELDTEXTITEM_} {GSME|DATA|_LANGTAGFNFIELDTEXTUNITPRICE_} {GSME|TXT|currency}
{GSME|TXT|_GSSBTXTFNFIELDVAT_}: {GSME|DATA|ShortVatValue} {GSME|TXT|currency} ({GSME|DATA|ShortVatPrct}%)
{GSME|TXT|_GSSBTXTFNFIELDTOTALPRICE_}: {GSME|DATA|_LANGTAGFNFIELDTOTALPRICE_} {GSME|TXT|currency}
-----------------------------------------------------------------
{GSME|DATABAND|END}
{GSME|TXT|_GSSBTXTFNFIELDLOCTOTAL_} {GSME|TXT|_LANGTAGFNFIELDLOCTOTAL_} {GSME|TXT|currency}
{GSME|TXT|_GSSBTXTFNFIELDLOCDISCOUNT_} ({GSME|TXT|DiscountPrct} %): {GSME|TXT|DiscountValue} {GSME|TXT|currency}
{GSME|TXT|_GSSBTXTFNFIELDCUSTDISCOUNT_} ({GSME|TXT|CustDiscountPrct} %): {GSME|TXT|CustDiscountValue} {GSME|TXT|currency}
{GSME|TXT|_GSSBTXTFNFIELDPAYMENT_} ({GSME|TXT|_LANGTAGFNFIELDPAYMENT_}): {GSME|TXT|_LANGTAGFNFIELDPAYMENTCHARGE_} {GSME|TXT|currency}
{GSME|TXT|_GSSBTXTFNFIELDPOSTAGE_} ({GSME|TXT|_LANGTAGFNFIELDDELIVERY_}): {GSME|TXT|_LANGTAGFNFIELDPOSTAGE_} {GSME|TXT|currency}
{GSME|TXT|_GSSBTXTFNFIELDSUBTOTAL_}: {GSME|TXT|SumDiscount2} {GSME|TXT|currency}
{GSME|TXT|encluded} {GSME|TXT|_GSSBTXTFNFIELDVAT_}. ({GSME|TXT|LongVatPrct1}%): {GSME|TXT|LongVatValue1} {GSME|TXT|currency}
{GSME|TXT|encluded} {GSME|TXT|_GSSBTXTFNFIELDVAT_}. ({GSME|TXT|LongVatPrct2}%): {GSME|TXT|LongVatValue2} {GSME|TXT|currency}
{GSME|TXT|encluded} {GSME|TXT|_GSSBTXTFNFIELDVAT_}. ({GSME|TXT|LongVatPrct3}%): {GSME|TXT|LongVatValue3} {GSME|TXT|currency}

{GSME|TXT|_GSSBTXTFNFIELDTOTALAMOUNT_}: {GSME|TXT|_LANGTAGFNFIELDTOTALAMOUNT_} {GSME|TXT|currency}

{GSME|TXT|_LANGTAGFNFINANCIALINSTITUTION_}
{GSME|TXT|_LANGTAGFNBANKCODENUMBER_}
{GSME|TXT|_LANGTAGFNACCOUNTNUMBER_}
{GSME|TXT|_LANGTAGFNACCOUNTHOLDER_}
{GSME|TXT|_LANGTAGFNCREDITCARD_}
{GSME|TXT|_LANGTAGFNMONTHEXPIRATIONDATE_}
{GSME|TXT|_LANGTAGFNYEAREXPIRATIONDATE_}
{GSME|TXT|_LANGTAGFNCREDITCARDNUMBER_}
{GSME|TXT|_LANGTAGFNISSUENUMBER_}
{GSME|TXT|_LANGTAGFNSECURITYCODE_}
{GSME|TXT|_LANGTAGFNCREDITCARDHOLDER_}