<li class="item{GSSE_INCL_FIRSTLAST} gs-lastviewed">
	<a href="{GSSE_SURL_}{GSSE_INCL_ITEMURL}" title="{GSSE_INCL_ITEMNAME}" class="product-image">
		<img src="{GSSE_INCL_ITEMIMG}" alt="{GSSE_INCL_ITEMNAME}" />
	</a>
	<h3 class="product-name gs-lastviewed">
		<a href="{GSSE_SURL_}{GSSE_INCL_ITEMURL}" title="{GSSE_INCL_ITEMNAMEONLY}">
			{GSSE_INCL_ITEMNAME}
		</a>
	</h3>
	<div class="price-box">
		{GSSE_INCL_SALEPERIOD}
		{GSSE_INCL_OLDPRICENEW}
		<span class="{GSSE_INCL_PRICECLASS}">
			<span class="price">{GSSE_INCL_ITEMPRICE}</span>
		</span>
        <p class="pinfo">
            {GSSE_INCL_ITEMPRICEINFO}
        </p>
	</div>
</li>