<a href="inc/customerreturningticket.php?lang=de
			&cid={GSSE_INCL_CID}
			&orderidno={GSSE_INCL_ORDERID}
			&orderpposno={GSSE_INCL_ORDERPOSNO}
			&orderpitemid={GSSE_INCL_ITEMNO}
			&ordpitemdesc={GSSE_INCL_ITEMDESCR}
			&orderpprice={GSSE_INCL_ITEMPRC}
			&orderpqty={GSSE_INCL_ITEMQTY}
			&ordercurrency={GSSE_INCL_CURRENCY}
			&ordershippingcond={GSSE_INCL_SHIPMENT}
			&orderdate={GSSE_INCL_ORDERDATE}
			&ordercustomerid={GSSE_INCL_CUSTNO}
			&orderfirmname={GSSE_INCL_COMPANY}
			&ordertitle={GSSE_INCL_PTITLE}
			&orderfirstname={GSSE_INCL_FNAME}
			&orderlastname={GSSE_INCL_LNAME}
			&orderstreet={GSSE_INCL_STREET}
			&orderstreet2={GSSE_INCL_STREET2}
			&orderzipcode={GSSE_INCL_ZIP}
			&ordercity={GSSE_INCL_CITY}
			&orderphone={GSSE_INCL_PHONE}
			&ordermail={GSSE_INCL_EMAIL}
			&ordercountry={GSSE_INCL_CNTRY}" class="lastorderhead">
			<img src="template/images/print.gif" alt="R&uuml;cksendebegleitschein drucken" title="Begleitschein f&uuml;r R&uuml;cksendung / Retoure drucken" />
</a>