<!-- Don't remove these lines!!!-->
<!-- Diese Zeilen nicht entfernen!!!-->
<!-- End -->
<body>
<div class="wrapper ">
	<noscript>
		<div class="global-site-notice noscript">
			<div class="notice-inner">
				<p>
					<strong>{GSSE_LANG_LangTagPleaseActivateJavascript}</strong>
				</p>
			</div>
		</div>
	</noscript>
	<div class="page one-column">
		<div class="bkg_header_top">
			<div class="container_24 container_header_top">
				<div class="grid_24">
					<div class="header_top">
						{GSSE_FUNC_ONEROWHEADER}
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bkg_header_top cust_menu">
			<div class="container_24 container_header_top">
				<div class="grid_24">
					<div class="header_top">
						{GSSE_FUNC_CUSMENU}
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		{GSSE_FUNC_SEARCHBAR}
		{GSSE_FUNC_LOGINBAR}
		<div class="bkg_header_bottom" id="div-fulltextsearch">
			<div class="container_24 container_header">
				<div class="grid_24">
					<div class="header-container">
						{GSSE_FUNC_CONTHEADER}
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		{GSSE_FUNC_MAINMENUNEW}
		<div class="main-container">
			<div class="container_24 ">
				<div class="clear"></div>
				<div class="grid_24 col-main">
					<div class="gsspacer"><div>&nbsp;&nbsp;</div></div>
					<!--Begin Top Selling Brands-->
					<!--End Top Selling Brands-->
					<!-- Begin Sitemap -->
					<div class="widget widget-static-block ">
						<h1>{GSSE_LANG_LangTagSitemap}</h1>
						<ul class="sitemap">
							<li><a class="first {GSSE_ISACTIVE_MAIN}" href="index.php?page=main">{GSSE_LANG_LangTagHome}</a></li>
							<li><a class="{GSSE_ISACTIVE_BASKET}" href="index.php?page=basket">{GSSE_LANG_LangTagBasket}</a></li>
							{GSSE_IF_PHPFAQ}<li><a class="{GSSE_ISACTIVE_FAQ}" href="index.php?page=faq">{GSSE_LANG_LangTagFAQs}</a></li>{GSSE_ENDIF_PHPFAQ}
							<li><a class="{GSSE_ISACTIVE_SITEMAP}" href="index.php?page=sitemap">{GSSE_LANG_LangTagSitemap}</a></li>
							<li><a class="{GSSE_ISACTIVE_CONTACT}" href="index.php?page=contact">{GSSE_LANG_LangTagContact}</a></li>
							<li><a class="{GSSE_ISACTIVE_MODELWITHDRAWALFORM}" href="index.php?page=modelwithdrawalform">{GSSE_LANG_LangTagModelWithdrawalForm}</a></li>
							{GSSE_IF_PHPEXTSEARCH}<li><a class="{GSSE_ISACTIVE_EXTENDEDSEARCH}" href="index.php?page=extendedsearch">{GSSE_LANG_LangTagExtendedSearch}</a></li>{GSSE_ENDIF_PHPEXTSEARCH}
							{GSSE_IF_PHPCUSTOMERLOGIN}<li>{GSSE_MMLOGIN_}</li>{GSSE_ENDIF_PHPCUSTOMERLOGIN}
						</ul>
						{GSSE_FUNC_CUSMENU_SM}
						<ul class="sitemap">
							<li><a href="index.php?page=cond">{GSSE_LANG_LangTagShipment}</a></li>
							<li><a href="index.php?page=privacy">{GSSE_LANG_LangTagPrivacy}</a></li>
							<li><a href="index.php?page=conditions">{GSSE_LANG_LangTagTermsAndCond}</a></li>
							<li><a href="index.php?page=right_of_revocation">{GSSE_LANG_LangTagRightOfRevocation}</a></li>
							<li><a href="index.php?page=imprint">{GSSE_LANG_LangTagImprint}</a></li>
							{GSSE_IF_PHPSHOPCOMM}
							<li><a href="index.php?page=gs_shopcomments">{GSSE_LANG_LangTagShopComments}</a></li>
							{GSSE_ENDIF_PHPSHOPCOMM}
						</ul>
						<div class="clear"></div>
						<h3 style="margin-top:15px;">{GSSE_LANG_LangTagProductGroups}:</h3>
						{GSSE_FUNC_SITEMAP}
					</div><!-- End Sitemap -->
					
					<!--Begin ProductSlider-->
					<!--Begin ProductSliderHeader-->
				</div>
				<div class="clear"></div>
				<!--Begin Homeads2-->
				<!--End Homeads2-->
				<!--Begin MoreWayToShopping-->
				<!--End MoreWayToShopping-->
				<!--Begin Specials-->
				<!--End Specials--> 
				<!--Begin Homeads3-->
				<!--End Homeads3-->
				<!--Begin Social-->
				<div class="clear"></div>
			</div>
		</div>
		<div class="bkg_footer_bottom">
			{GSSE_FUNC_SOCIALNETWORKS}
			<div class="container_24 container_footer">
				{GSSE_FUNC_FOOTER}
			</div>
			<div class="container_24 container_footer">
				<div class="grid_14">
					<div class="footer-container">
						<div class="footer">
							<address>
								<span>{GSSE_TXDB_contentpool|Text|Name|ShopFootNote}&nbsp;{GSSE_TXDB_contentpool|Text|Name|FootNote}</span>
							</address>
						</div>
					</div>
					<p style="display: none;" id="back-top">
						<a title="Back To Top" href="#top">Back to Top</a>
					</p>
				</div>
				<div class="grid_10">
					{GSSE_FUNC_SHIPMPAYM}
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="">
			<div id="containerDiv" style="display: none;">
				<div class="ajaxcart">
					<img class="ajax_loading" id="ajax_loading" src="{GSSE_SURL_}template/images/loading.gif" alt="Loading..." />
					<div id="ajax_content" style="display:none">
						<div class="ajaxcart_row1 row1">
							<div id="ajax_image"></div>
						</div>
						<div class="row2">
							<a href="javascript:void(0);" id="closeLink" class="back"><span>Not Now</span><span class="emajc_num"></span></a>
							<a id="viewcart_button" href="javascript:void(0);" class="next" onclick="ajaxaddnext();"><span>Add to Cart</span></a>
							<a id="ajc_btn_checkout" class="next" href="#"><span>View cart &amp; checkout</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Begin Most Popular Keywords-->
	<!--End Most Popular Keywords-->
</div>
<div id="bg_fade"></div>
</body>
</html>