<h2>{GSSE_LANG_LangTagBasket}</h2>
<table id="shopping-cart-table" class="data-table cart-table">	
	<tr>
		<td class="gs_summary"><b>{GSSE_LANG_LangTagTextOrderTotal}:</b></td>
		<td class="gs_summary"><span id="baskettotal">{GSSE_INCL_BASKETTOTAL}</span></td>
	</tr>
	<tr>
		<td class="gs_summary"><b>{GSSE_LANG_LangTagTextPayment}</b> (<span id="paymenttext">{GSSE_INCL_PAYMENT}</span>):</td>
		<td class="gs_summary"><span id="paymentcost">{GSSE_INCL_PAYMENTCOST}</span></td>
	</tr>
	<tr>
		<td class="gs_summary"><b>{GSSE_LANG_LangTagFieldPostage}</b> (<span id="shipmenttext">{GSSE_INCL_SHIPMENT}</span>):</td>
		<td class="gs_summary"><span id="shipmentcost">{GSSE_INCL_SHIPMENTCOST}</span></td>
	</tr>
	{GSSE_INCL_BASKETSUBTOTAL}
	{GSSE_INCL_BASKETVAT}
	<tr>
		<td class="gs_summary"><h3>{GSSE_LANG_LangTagTotalAmount}:</h3></td>
		<td class="gs_summary"><span id="summetotal">{GSSE_INCL_SUMTOTAL}</span></td>
	</tr>
</table>