<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>{subject}</title>

<style type="text/css">
<!--body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; color: {color_text} }-->
<!--p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; white-space: pre-wrap;}-->
<!--td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}-->
<!--.subtitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.45; font-weight: bold; color: {color_title} }-->
<!--.tdtitle { color: {color_tabhead_text}; background-color: {color_tabhead_bg} ;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; font-weight: bold; border: {color_tab_border} solid; border-width: 0px 0px 2px 0px}-->
<!--.tabbody { color: {color_tabbody_text}; background-color: {color_tabbody_bg}; }
<!--.tdmark { color: {color_title}; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; font-weight: bold;}-->
<!--.tdsum { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; border: {color_tab_border} solid; border-width: 0px 0px 1px 0px}-->
<!--.tabheadbordertop { background-color: {color_tabhead_bg}; border-top: {color_tab_border} solid; border-top-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabbodybordertop { background-color: {color_tabbody_bg}; border-top: {color_tab_border} solid; border-top-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabbodybordertopleft { background-color: {color_tabbody_bg}; border-top: {color_tab_border} solid; border-left: {color_tab_border} solid; border-top-width: 1px; border-left-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabheadbordertopleft { background-color: {color_tabhead_bg}; border-top: {color_tab_border} solid; border-left: {color_tab_border} solid; border-top-width: 1px; border-left-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabheadbordertopleftright { background-color: {color_tabhead_bg}; border-top: {color_tab_border} solid; border-left: {color_tab_border} solid; border-right: {color_tab_border} solid; border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabbodybordertopright { background-color: {color_tabbody_bg}; border-top: {color_tab_border} solid; border-right: {color_tab_border} solid; border-top-width: 1px; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabheadbordertopright { background-color: {color_tabhead_bg}; border-top: {color_tab_border} solid; border-right: {color_tab_border} solid; border-top-width: 1px; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderbottom { background-color: {color_tabbody_bg}; border-bottom: {color_tab_border} solid; border-bottom-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderbottomleft { background-color: {color_tabbody_bg}; border-bottom: {color_tab_border} solid; border-left: {color_tab_border} solid; border-bottom-width: 1px; border-left-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderbottomright { background-color: {color_tabbody_bg}; border-bottom: {color_tab_border} solid; border-right: {color_tab_border} solid; border-bottom-width: 1px; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderleft { border-left: {color_tab_border} solid; border-left-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderright { background-color: {color_tabbody_bg}; border-right: {color_tab_border} solid; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderleftright { background-color: {color_tabbody_bg}; border-left: #005263 solid; border-right: #005263 solid; border-left-width: 1px; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
<!--.tabborderbottomleftright { background-color: {color_tabbody_bg}; border-bottom: #005263 solid; border-left: #005263  solid; border-right: #005263 solid; border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.45; padding:0px;}-->
</style>


</head>
<body>
<table width='100%' border='0' cellpadding='10' style='background-color:{color_bground};'><tr><td>
<p class="subtitle"><img src="cid:{cid}" border="0"{logoimage_size} alt="{shopname}" />&nbsp;{answer_subject}</p>
<p>{answer_greeting_text}</p>
<p>{answer_provider}</p>
<p><b>ShopURL:</b>&nbsp;<a href='{_LANGTAGFNFIELDSHOPURL_}'>{_LANGTAGFNFIELDSHOPURL_}</a></p>
<table width="80%" border="0" cellspacing="0" cellpadding="2" style='border-right-color: {color_tab_border}; border-left-width: 0px;'>
<tr>
<td colspan='5' class='tabheadbordertopleftright'>&nbsp;&nbsp;&nbsp;<b>{_GSSBTXTFNFIELDPID_}:</b> {_LANGTAGFNFIELDPID_}<br> </td>
</tr>
<tr>
<td class='tabheadbordertopleft' align="left" colspan='2'><b>&nbsp;&nbsp;&nbsp;Ihre Bestelldaten:&nbsp;</b></td>
<td class='tabheadbordertop' width='15'>&nbsp;</td>
<td class="tabheadbordertop" align="right"><b>{_GSSBTXTFNFIELDTOTALPRICE_}<br>{currency}</b></td>
<td class='tabheadbordertopright' width='15'>&nbsp;</td>
</tr>
<tr>
<td style='height:2px;' colspan='2' class='tabbodybordertopleft'>&nbsp;</td>
<td style='height:2px;' class='tabbodybordertop' colspan='2'>&nbsp;</td>
<td style='height:2px;' class='tabbodybordertopright' width='15'>&nbsp;</td>
</tr>
{posdata_start}
<tr class='tabbody'>
<td class='tabborderleft' align="center" valign='top'>
<img src="{_LANGTAGFNFIELDSHOPURL_}images/small/{_LANGTAGFNFIELDIMAGE_}" width="70" border="0" alt="{_LANGTAGFNFIELDIMAGE_}" />
</td>
<td>
<table border='0' width='250'>
<tr>
<td><b>{_LANGTAGFNFIELDTEXTITEM_}</b><br />{_GSSBTXTFNFIELDITEMNUMBER_}:&nbsp;{_ITEMNUMBER_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDQUANTITY_}:&nbsp;{_LANGTAGFNFIELDQUANTITY_}</td>
</tr>

<tr>
<td>{_LANGTAGFNFIELDAVAIL_}</td>
</tr>

<tr>
<td>{_GSSBTXTFNFIELDTEXTUNITPRICE_}:&nbsp;{_LANGTAGFNFIELDTEXTUNITPRICE_} {currency}</td>
</tr>

<tr>
<td>{_GSSBTXTFNFIELDSHORTVAT_}:&nbsp;{_LANGTAGFNFIELDSHORTVAT_} {currency}</td>
</tr>

</table>
</td>
<td width='15'>&nbsp;</td>
<td valign='top' align='right'>{_LANGTAGFNFIELDTOTALPRICE_} {currency}</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
{posdata_end}
<tr class='tabbody'>
<td class='tabborderleft'>&nbsp;</td>
<td class="tdsum">&nbsp;</td>
<td class="tdsum">&nbsp;</td>
<td class="tdsum">&nbsp;</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">{_GSSBTXTFNFIELDLOCTOTAL_}:&nbsp;&nbsp;&nbsp;</td>
<td class="tdmark" align="right">{_LANGTAGFNFIELDLOCTOTAL_} {currency}</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
<tr class='tabbody'>
<td class='tabborderleft' colspan="3">&nbsp;</td>
<td>&nbsp;</td>
<td class='tabborderright' width='15'>&nbsp;</td>
{discount1_start}
</tr>
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDLOCDISCOUNT_} (<b class="tdmark">{goodsvalue}</b>) {discountprct}% :
</td>
<td class="tdmark" align="right">
- {discountvalue} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
{discount1_end}
{discount2_start}
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDLOCDISCOUNT_} (<b class="tdmark">{_GSSBTXTFNFIELDPAYMENT_}</b>) {cashdiscountprct}% :
</td>
<td class="tdmark" align="right">
- {cashdiscountvalue} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
{discount2_end}
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDCUSTDISCOUNT_} {CustDiscountPrct}% :
</td>
<td class="tdmark" align="right">
- {CustDiscountValue} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDPAYMENT_} (<b class="tdmark">{_LANGTAGFNFIELDPAYMENT_}</b>):
</td>
<td class="tdmark" align="right">{_LANGTAGFNFIELDPAYMENTCHARGE_} {currency}</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>

<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDDELIVERY_} (<b class="tdmark">{_LANGTAGFNFIELDDELIVERY_}</b>):
</td>
<td class="tdmark" align="right">
{_LANGTAGFNFIELDPOSTAGE_} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
<tr class='tabbody'>
<td class='tabborderleft'>&nbsp;</td>
<td class="tdsum">&nbsp;</td>
<td class="tdsum">&nbsp;</td>
<td class="tdsum">&nbsp;</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>



<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDTOTALAMOUNT_}:
</td>
<td class="tdmark" align="right">
{_LANGTAGFNFIELDTOTALAMOUNT_} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>


{vat1_start}
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDLONGVAT_} ({longvatprct1}%):
</td>
<td class="tdmark" align="right">
{longvatvalue1} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
{vat1_end}

{vat2_start}
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDLONGVAT_} ({longvatprct2}%):
</td>
<td class="tdmark" align="right">
{longvatvalue2} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
{vat2_end}
{vat3_start}
<tr class='tabbody'>
<td class='tabborderleft' colspan="3" align="right">
{_GSSBTXTFNFIELDLONGVAT_} ({longvatprct3}%):
</td>
<td class="tdmark" align="right">
{longvatvalue3} {currency}
</td>
<td class='tabborderright' width='15'>&nbsp;</td>
</tr>
{vat3_end}

<tr><td class='tabborderbottomleft' colspan='3'>&nbsp;</td><td class='tabborderbottom'>&nbsp;</td><td class='tabborderbottomright' width='15'>&nbsp;</td></tr>
</table>
{downloadtxt}

<p><p>
<table width="80%" border="0" cellspacing="0" cellpadding="2">
(IFUSEFORMATMAILADDRESS)
LangTagBillingAddress={billingAddress}
LangTagShippingAddress={shippingAddress}
LangTagFieldCompany={_GSSBTXTFNFIELDCOMPANY_}
LangTagFieldCustomerNR={_GSSBTXTFNFIELDCUSTOMERNR_}
LangTagFieldFirmVATId={_GSSBTXTFNFIELDFIRMVATID_}
LangTagFieldEmail={_GSSBTXTFNFIELDEMAIL_}
LangTagFieldPhone={_GSSBTXTFNFIELDPHONE_}
LangTagFieldFax={_GSSBTXTFNFIELDFAX_}
AdditionalField1HiddenValue=
(ELSEIFUSEFORMATMAILADDRESS)
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0">
<tr>

<td align="left" colspan='3'><b>{billingAddress}</b><br><br></td>

</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDCOMPANY_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDCOMPANY_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDCUSTOMERNR_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDCUSTOMERNR_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDFIRMVATID_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDFIRMVATID_}</td>
</tr>
<tr>
<td colspan="3"><hr style='border: {color_tab_border} solid;'></td>
</tr>
<tr>
<td>Name:</td>
<td width='10'>&nbsp;</td>
<td>
{_LANGTAGFNFIELDFORMTOADDRESS_} {_LANGTAGFNFIELDFIRSTNAME_} {_LANGTAGFNFIELDLASTNAME_}
</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDADDRESS_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDADDRESS_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDADDRESS2_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDADDRESS2_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDZIPCODE_}/{_GSSBTXTFNFIELDCITY_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDZIPCODE_} {_LANGTAGFNFIELDCITY_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDSTATE_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDSTATE_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDEMAIL_}:</td>
<td width='10'>&nbsp;</td>
<td>{email}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDPHONE_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDPHONE_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDFAX_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDFAX_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDMOBIL_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDMOBIL_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDGEBURTSDATUM_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDGEBURTSDATUM_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDAKTKEY_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDAKTKEY_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDMESSAGE_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDMESSAGE_}</td>
</tr>
</table>
</td>
</tr>

<tr><td height="20">&nbsp;</td></tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td align="left" colspan='3'><b>{shippingAddress}</b><br><br></td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDCOMPANY_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDSHIPPINGCOMPANY_}</td>
</tr>
<tr>
<td colspan="3"><hr style='border: {color_tab_border} solid;'></td>
</tr>
<tr>
<td>Name:</td>
<td width='10'>&nbsp;</td>
<td>
{_LANGTAGFNFIELDSHIPPINGFORMTOADDRESS_} {_LANGTAGFNFIELDSHIPPINGFIRSTNAME_} {_LANGTAGFNFIELDSHIPPINGLASTNAME_}
</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDADDRESS_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDSHIPPINGSTREET_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDADDRESS2_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDSHIPPINGADDRESS2_}</td>
</tr>
<tr>
<td>{_GSSBTXTFNFIELDZIPCODE_}/{_GSSBTXTFNFIELDCITY_}:</td>
<td width='10'>&nbsp;</td>
<td>{_LANGTAGFNFIELDSHIPPINGZIPCODE_} {_LANGTAGFNFIELDSHIPPINGCITY_}</td>
</tr>
<tr>
</table>
</td>
</tr>
<tr>
	<td colspan="3">{GSSE_INCL_ADDFIELDS}</td>
</tr>

(ENDIFUSEFORMATMAILADDRESS)
</table>
<br>
<p>{_LANGTAGFN_REVIEW_LINKS_IN_EMAIL_}</p>
<br>
<p>{answer_text_end}</p>
<br><br>
</td>
</tr>
</table>
<!--Text wird nicht automatisch umgebrochen, daher außerhalb der Tabelle, sonst wird sie zu breit-->
<p>{answer_customer_infos}</p>
</body>
</html>

