<table id="my-downloadable-products-table" class="data-table">
	<colgroup>
		<col width="1"></col>
		<col></col>
		<col width="1"></col>
		<col width="1"></col>
		<col width="1"></col>
		<col width="1"></col>
	</colgroup>
	<thead>
	<tr class="first last">
		<th>{GSSE_LANG_LangTagItemNumber}</th>
		<th>{GSSE_LANG_LangTagDescription}</th>
		<th>{GSSE_LANG_LangTagOrderDate}</th>
		<th>{GSSE_LANG_LangTagDownloadsAvailable}</th>
		<th>{GSSE_LANG_LangTagFile}</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{GSSE_INCL_DOWNLOADITEMS}
	</tbody>
</table>
<table border='0' width='100%'><tr><td height=20></td></tr><tr><td><p>{GSSE_INCL_NOORDER}</td></tr></table>