<body>
	<div class="wrapper ">
		<noscript>
		<div class="global-site-notice noscript">
			<div class="notice-inner">
				<p>
					<strong>{GSSE_LANG_LangTagPleaseActivateJavascript}</strong>
				</p>
			</div>
		</div>
		</noscript>
		<div class="page one-column">
			<div class="main-container">
				<div class="container_24 ">
					<div class="clear"></div>
					<div class="grid_24 col-main">
						<div class="std"><div>&nbsp;&nbsp;</div></div>
							{GSSE_IMDB_setting|SettingValue|SettingName|edLogo1_Text}<br />
							<h1>{GSSE_TXDB_setting|SettingValue|SettingName|edShopName_Text}</h1>
							<br />
							&nbsp;
							<br />
							<h3>{GSSE_TXDB_setting|SettingValue|SettingName|edShopSlogan_Text}</h3>
							<br />
							&nbsp;
							<br />
							{GSSE_FUNC_B2BLOGIN}
							<br />
							&nbsp;
							<br />
							{GSSE_TXDB_setting|SettingValue|SettingName|edShopCompany_Text}<br />
							{GSSE_TXDB_setting|SettingValue|SettingName|edShopStreet_Text}<br />
							{GSSE_TXDB_setting|SettingValue|SettingName|edShopZipCode_Text}&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopCity_Text}<br />
							{GSSE_TXDB_setting|SettingValue|SettingName|edShopCountry_Text}<br />
							{GSSE_LANG_LangTagFieldPhone}:&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopTelephone_Text}<br />
							{GSSE_LANG_LangTagFieldFax}:&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopFax_Text}<br />
							<a href="mailto:{GSSE_TXDB_setting|SettingValue|SettingName|edShopEmail_Text}">{GSSE_TXDB_setting|SettingValue|SettingName|edShopEmail_Text}</a><br />
							&nbsp;
							<br />
							<span class="poweredby">
								Powered by GS ShopBuilder 19 <a href="http://www.gs-shopbuilder.de" class"poweredby">http://www.gs-shopbuilder.de</a>
							</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>