<li class="item">
	<!--show label product - label extension is required-->
	<!--show label product - label extension is required-->
	<div class="list-item-img">
		<ul class="productlabels_icons">
			{GSSE_INCL_LABELNEW}
			{GSSE_INCL_LABELSALE}
			{GSSE_INCL_LABELBEST}
		</ul>
		{GSSE_INCL_ITEMIMG}
	</div>
	<div class="product-shop">
		 <div class="f-fix">
			<!--product name-->
			<h2 class="lb-product-name">
				{GSSE_INCL_ITEMTITLE}
			</h2>
			<!--product sku-->
			<p class="lb-sku">{GSSE_INCL_ITEMNUMBER}</p>
			<!--<p class="availability in-stock"><span>In stock</span></p>-->
			{GSSE_INCL_AVAILBOX}
			<!--product description-->
			<div class="desc std">
				{GSSE_INCL_ITEMDETAILTEXT1}
			</div>
			<!--show reviews-->
			<div>
				{GSSE_INCL_RATINGIMG}
			</div>
			<!--product price-->
			<div class="price-box">
				{GSSE_INCL_SALEPERIOD}
				{GSSE_INCL_OLDPRICENEW}
				<div class="clear"></div>
				<span class="{GSSE_INCL_PRICECLASS}">
					<span class="price">{GSSE_INCL_ITEMPRICE}</span>
				</span>
                <p class="pinfo">
                    {GSSE_INCL_ITEMPRICEINFO}
                </p>
			</div>
		</div>
		{GSSE_INCL_ATTRIBUTESNEW}
		<div class="add-to-box">
			{GSSE_INCL_ADDTOCART}
		</div>
		<div class="gs-lbact-buttons" style="width: {GSSE_INCL_ACTBUTSWIDTH}px;">
			<ul class="gs-action-buttons-list">
				{GSSE_INCL_ADDTOCARTSMALL}
				{GSSE_INCL_WISHLIST}
				{GSSE_INCL_NOTEPAD}
				{GSSE_INCL_COMPAREITEM}
			</ul>
		</div>
	</div>
</li>