<div class="banner2" style="width:{GSSE_TXDB_setting|SettingValue|SettingName|edBannerWidth_Text}px;">
	<p>
		<a href="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerLink2_Text}" target="_blank"><img width="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerWidth_Text}" height="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerHeight_Text}" src="images/{GSSE_TXDB_setting|SettingValue|SettingName|edBannerImage2_Text}" title="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerTooltip2_Text}" alt="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerTooltip2_Text}" /></a>
		<br />
		{GSSE_TXDB_setting|SettingValue|SettingName|edBannerText2_Text}
	</p>
</div>
