<form id="search_mini_form" action="index.php?page=shopsearch" method="post">
	<div class="form-search">
		<label for="search">{GSSE_LANG_LangTagExtendedSearch}:</label>
		<div class="input_search">
			<input autocomplete="off" id="search" name="search" value="" class="input-text" maxlength="128" type="text">
			<div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
			<script type="text/javascript">
				//<![CDATA[
				var searchForm = new Varien.searchForm('search_mini_form', 'search', '{GSSE_LANG_LangTagSearchHint}');
				//]]>
			</script>
		</div>
		<button type="submit" title="{GSSE_LANG_LangTagExtendedSearch}" class="button">
			<span>
				<span>{GSSE_LANG_LangTagExtendedSearch}</span>
			</span>
		</button>
	</div>
</form>