<li class="item{GSSE_INCL_LAST}{GSSE_INCL_EOO}">
	{GSSE_INCL_ITEMIMG}
	<div class="product-details">
		<a class="btn-remove" title="{GSSE_LANG_LangTagDelete}" href="javascript:new_del_from_basket({GSSE_INCL_ITEMIDX});">{GSSE_LANG_LangTagDelete}</a>
		<p class="product-name">
			{GSSE_INCL_ITEMNAME}
		</p>
		<p class="sku">{GSSE_INCL_ATTRIBUTES}</p>
		<p class="sku">{GSSE_INCL_TEXT}</p>
		<p class="sku">{GSSE_INCL_ITEMNUMBER}</p>
		<strong>{GSSE_INCL_ITEMQTY}</strong>
		x
		<span class="price">{GSSE_INCL_ITEMPRICE}</span>
        <p class="pinfo">
            {GSSE_INCL_ITEMPRICEINFO}
        </p>
	</div>
</li>