<!-- Don't remove these lines!!!-->
<!-- Diese Zeilen nicht entfernen!!!-->
{GSSE_JSCR_customerfuncs.js}
<!-- End -->
<body>
<div class="wrapper ">
	<noscript>
		<div class="global-site-notice noscript">
			<div class="notice-inner">
				<p>
					<strong>{GSSE_LANG_LangTagPleaseActivateJavascript}</strong>
				</p>
			</div>
		</div>
	</noscript>
	<div class="page one-column">
		<div class="main-container">
			<div class="container_24 ">
				<div class="clear"></div>
				<div class="grid_24 col-main">
					<div class="std"><div>&nbsp;&nbsp;</div></div>
					<h1>{GSSE_LANG_LangTagQuestToProduct}</h1>
					<div class="box">
						<p>{GSSE_TXDB_contentpool|Text|Name|TextQuestOnProduct}</p>
							<p>
								<img src="images/small/{GSSE_INCL_ITEMIMG}" alt="{GSSE_INCL_ITEMNAME}" />
							<b>{GSSE_INCL_ITEMNAME}</b><br />
						</p>
						<input type="hidden" id="msg1" VALUE="{GSSE_LANG_LangTagErrorFroms}" />
						<input type="hidden" id="msg2" VALUE="{GSSE_LANG_LangTagErrorSendMail}" />
						<input type="hidden" id="msg3" VALUE="{GSSE_LANG_LangTagThankSendMail}" />
						<input type="hidden" id="subject" VALUE="{GSSE_LANG_LangTagTitleInquiry}" />
						<input type="hidden" id="mess" VALUE="{GSSE_LANG_LangTagInquiryThisItem}" />
						<input type="hidden" id="dear" VALUE="{GSSE_LANG_LangTagGreetingInquiry}" />
						<input type="hidden" id="thankyou" VALUE="{GSSE_LANG_LangTagTextThanks}" />
						<input type="hidden" name="productlink" id="productlink" VALUE="{GSSE_INCL_ITEMLNK}" />
						<input type="hidden" name="shortn" id="shortn" value="{GSSE_INCL_ITEMNAMEESC}" />
						<input type="hidden" name="recipient" id="recipient" value="{GSSE_INCL_RECEMAIL}" />
						<input type="hidden" id="greet" VALUE="{GSSE_LANG_LangTagGreetingsInquiry}" />
						<ul class="form-list">
							<li>
								<label>{GSSE_LANG_LangTagFieldFormToAddress}:*</label>
								<div class="input-box">
									<select name="cusTitle" id="cusTitle">
										<option selected value="">{GSSE_LANG_LangTagTextPleaseChoose}!</option>
										<option value="{GSSE_LANG_LangTagMr}">{GSSE_LANG_LangTagMr}</option>
										<option value="{GSSE_LANG_LangTagMrs}">{GSSE_LANG_LangTagMrs}</option>
									</select>
								</div>
							</li>
							<li>
								<label>{GSSE_LANG_LangTagFieldFirstName}:</label>
								<div class="input-box">
									<input type="text" name="sender1" id="sender1" size="26" class="input-text" />
								</div>
							</li>
							<li>
								<label>{GSSE_LANG_LangTagFieldLastName}:*</label>
								<div class="input-box">
									<input type="text" name="sender2" id="sender2" size="26" class="input-text" />
								</div>
							</li>
							<li>
								<label>{GSSE_LANG_LangTagFieldEmail}:*</label>
								<div class="input-box">
									<input type="text" name="email" id="email" size="26" class="input-text" />
								</div>
							</li>
							<li>
								<label>{GSSE_LANG_LangTagFieldMessage}:*</label>
								<div class="input-box">
									<textarea name="message" id="message" cols="50" rows="8" class="textarea" wrap="physical"></textarea>
								</div>
							</li>
							<li>
								<div class="buttons-set">
									<button type="submit" class="button" id="commbutton" name="commsubmit" title="{GSSE_LANG_LangTagSubmit}" onclick="send_quest();" />
										<span><span>{GSSE_LANG_LangTagSubmit}</span></span>
									</button>
								</div>
							</li>
							<li>
								<p id="fd_msg" class="no-display"></p>
							</li>
						</ul>
					</div>
					{GSSE_FUNC_QUESTONPRODUCT}
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="">
			<div id="containerDiv" style="display: none;">
				<div class="ajaxcart">
					<img class="ajax_loading" id="ajax_loading" src="{GSSE_SURL_}template/images/loading.gif" alt="">
					<div id="ajax_content" style="display:none">
						<div class="ajaxcart_row1 row1">
							<div id="ajax_image"></div>
						</div>
						<div class="row2">
							<a href="javascript:void(0);" id="closeLink" class="back"><span>Not Now</span><span class="emajc_num"></span></a>
							<a id="viewcart_button" href="javascript:void(0);" class="next" onclick="ajaxaddnext();"><span>Add to Cart</span></a>
							<a id="ajc_btn_checkout" class="next" href="#"><span>View cart &amp; checkout</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Begin Most Popular Keywords-->
	<!--End Most Popular Keywords-->
</div>
<div id="bg_fade"></div>
</body>
</html>