<p>
	<a href="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerLink3_Text}" target="_blank"> <img width="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerWidth_Text}" height="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerHeight_Text}" src="images/{GSSE_TXDB_setting|SettingValue|SettingName|edBannerImage3_Text}" title="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerTooltip3_Text}" alt="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerTooltip3_Text}" /></a>
	<br />
	{GSSE_TXDB_setting|SettingValue|SettingName|edBannerText3_Text}
</p>
