{answer_subject}

{answer_greeting_text}

{answer_provider}

ShopURL: {_LANGTAGFNFIELDSHOPURL_}

{_GSSBTXTFNFIELDPID_}: {_LANGTAGFNFIELDPID_}

{posdata_start}
{posno}. Position
-----------------
{_GSSBTXTFNFIELDITEMNUMBER_}: {_ITEMNUMBER_}
{_LANGTAGFNFIELDQUANTITY_} x {_LANGTAGFNFIELDTEXTITEM_}
{_GSSBTXTFNFIELDTEXTUNITPRICE_}: {_LANGTAGFNFIELDTEXTUNITPRICE_} {currency}
------------------------------
{_GSSBTXTFNFIELDTOTALPRICE_}: {_LANGTAGFNFIELDTOTALPRICE_} {currency}
{_GSSBTXTFNFIELDSHORTVAT_}: {ShortVatValue} {currency} ({ShortVatPrct} %)
-----------------------------------------------------------------
{posdata_end}

{_GSSBTXTFNFIELDLOCTOTAL_}: {_LANGTAGFNFIELDLOCTOTAL_} {currency}
{discount1_start}
{_GSSBTXTFNFIELDLOCDISCOUNT_} ({goodsvalue}) {DiscountPrct}%: -{DiscountValue} {currency} 
{discount1_end}
{discount2_start}
{_GSSBTXTFNFIELDLOCDISCOUNT_} ({_GSSBTXTFNFIELDPAYMENT_}) {CashDiscountPrct}% : -{CashDiscountValue} {Currency}
{discount2_end}
{_GSSBTXTFNFIELDCUSTDISCOUNT_} {CustDiscountPrct}%: -{CustDiscountValue} {currency}
{_GSSBTXTFNFIELDPAYMENT_} ({_LANGTAGFNFIELDPAYMENT_}): {_LANGTAGFNFIELDPAYMENTCHARGE_} {currency}
{_GSSBTXTFNFIELDDELIVERY_} ({_LANGTAGFNFIELDDELIVERY_}): {_LANGTAGFNFIELDPOSTAGE_} {currency}
-----------------------------------------------------------------
{_GSSBTXTFNFIELDTOTALAMOUNT_}: {_LANGTAGFNFIELDTOTALAMOUNT_} {currency}
{vat1_start}
{_GSSBTXTFNFIELDLONGVAT_} ({LongVatPrct1}%): {LongVatValue1} {currency}
{vat1_end}
{vat2_start}
{_GSSBTXTFNFIELDLONGVAT_} ({LongVatPrct2}%): {LongVatValue2} {currency}
{vat2_end}
{vat3_start}
{_GSSBTXTFNFIELDLONGVAT_} ({LongVatPrct3}%): {LongVatValue3} {currency}
{vat3_end}

{downloadtxt}


{billingAddress}

-------------------------------------------------------
{_GSSBTXTFNFIELDCOMPANY_}: {_LANGTAGFNFIELDCOMPANY_}
{_GSSBTXTFNFIELDCUSTOMERNR_}: {_LANGTAGFNFIELDCUSTOMERNR_}
{_GSSBTXTFNFIELDFIRMVATID_}: {_LANGTAGFNFIELDFIRMVATID_}
{_GSSBTXTFNFIELDEMAIL_}: {email}
{_GSSBTXTFNFIELDPHONE_}: {_LANGTAGFNFIELDPHONE_}
{_GSSBTXTFNFIELDFAX_}: {_LANGTAGFNFIELDFAX_}
{_GSSBTXTFNFIELDMOBIL_}: {_LANGTAGFNFIELDMOBIL_}
{_GSSBTXTFNFIELDGEBURTSDATUM_}: {_LANGTAGFNFIELDGEBURTSDATUM_}
{_GSSBTXTFNFIELDAKTKEY_}: {_LANGTAGFNFIELDAKTKEY_}
{_GSSBTXTFNFIELDMESSAGE_}: {_LANGTAGFNFIELDMESSAGE_}

{_LANGTAGFNFIELDFORMTOADDRESS_} {_LANGTAGFNFIELDFIRSTNAME_} {_LANGTAGFNFIELDLASTNAME_}
{_LANGTAGFNFIELDADDRESS_}
{_LANGTAGFNFIELDADDRESS2_}
{_LANGTAGFNFIELDZIPCODE_} {_LANGTAGFNFIELDCITY_}
{_LANGTAGFNFIELDSTATE_}
-------------------------------------------------------

{shippingAddress}
-------------------------------------------------------
{_GSSBTXTFNFIELDCOMPANY_}: {_LANGTAGFNFIELDSHIPPINGCOMPANY_}

{_LANGTAGFNFIELDSHIPPINGFORMTOADDRESS_} {_LANGTAGFNFIELDSHIPPINGFIRSTNAME_} {_LANGTAGFNFIELDSHIPPINGLASTNAME_}
{_LANGTAGFNFIELDSHIPPINGSTREET_}
{_LANGTAGFNFIELDSHIPPINGADDRESS2_}
{_LANGTAGFNFIELDSHIPPINGZIPCODE_} {_LANGTAGFNFIELDSHIPPINGCITY_}
-------------------------------------------------------
{GSSE_INCL_ADDFIELDS}
{answer_text_end}

{answer_customer_infos}
