<tr>
	<td>
		{GSSE_INCL_ITEMNUMBER}
	</td>
	<td >
		{GSSE_INCL_ITEMDESC}
	</td>
	<td >
		{GSSE_INCL_ORDERDATE}
	</td>
	<td align="center">
		{GSSE_INCL_DOWNLOADCOUNT}
	</td>
	<td >
		{GSSE_INCL_FILENAME}
	</td>
	<td align="center">
		<div class="buttons-set" style="margin: 0;">
			<button class="button" name="download" type="button" value="{GSSE_LANG_LangTagDownloadFile}" onclick="doDownloadFile({GSSE_INCL_DOWNLOADPARAMS});">
				<img class="img_button" src="template/images/but_downld.png" alt="{GSSE_LANG_LangTagDownloadFile}" title="{GSSE_LANG_LangTagDownloadFile}" />&nbsp;{GSSE_LANG_LangTagDownloadFile}
			</button>
		</div>
	</td>
</tr>