<tr>
	<td class="lastorderrow">
	{GSSE_INCL_ORDERPOS}</td>
	<td class="lastorderrow">
	{GSSE_INCL_ITEMNO}</td>
	<td class="lastorderrow">
	{GSSE_INCL_ITEMNAME}</td>
	<td class="lastorderrow" align="right">
	{GSSE_INCL_ITEMCOUNT}</td>
	<td class="lastorderrow" align="right">
	{GSSE_INCL_ITEMPRICE}</td>
	<td class="lastorderrow" align="right">
	{GSSE_INCL_ITEMVATVALUE}
	</td>
	<td class="lastorderrow" align="right">
	{GSSE_INCL_ITEMTOTAL}
	</td>
	<td class="lastorderrow" align="right">
	{GSSE_INCL_RETOUR}
	</td>
</tr>