<li class="item{GSSE_INCL_FOL}" style="width:156px; height:400px; ">
	<ul class="productlabels_icons">
		{GSSE_INCL_LABELNEW}
		{GSSE_INCL_LABELSALE}
		{GSSE_INCL_LABELBEST}
	</ul>
	{GSSE_INCL_ITEMIMG}
	<div class="product-shop">
		<div class="f-fix">
			<h3 class="product-name">
				{GSSE_INCL_ITEMTITLE}
			</h3>
			<!--product sku-->
			<p class="sku">{GSSE_INCL_ITEMNUMBER}</p>
			<!--show reviews-->
			<div>
				{GSSE_INCL_RATINGIMG}
			</div>
			<div class="price-box t-center">
				{GSSE_INCL_SALEPERIOD}
				<p class="old-price">
					<span class="{GSSE_INCL_OLDPRICECLASS}">{GSSE_INCL_OLDPRICENEW}</span>
				</p>
				<span class="gs_trialperiod{GSSE_INCL_TPNODISPLAY}">{GSSE_INCL_TRIALPERIOD}</span>
				<div class="clear"></div>
				<span class="{GSSE_INCL_PRICECLASS}">
					<span class="price">{GSSE_INCL_ITEMPRICE}</span>
				</span>
				<div class="clear"></div>
				<span class="gs_billingperiod{GSSE_INCL_BPNODISPLAY}">{GSSE_INCL_BIILINGPERIOD}</span>
				<span class="gs_aftertrial{GSSE_INCL_TRNODISPLAY}">
					<span>{GSSE_INCL_AFTERTRIAL}&nbsp;{GSSE_INCL_AFTERTRIALPRICE}</span><div class="clear"></div>
					<span>{GSSE_INCL_AFTERTRIALPERIOD}</span><div class="clear"></div>
					<span>{GSSE_INCL_RUNTIMELNG}{GSSE_INCL_RUNTIME}</span>
				</span>
			</div>
		</div>
	</div>
	<div class="actbuttons">
		<!--show button add to compare-wishlist-->
		<ul class="actbutlist">
			{GSSE_INCL_ADDTOCARTSMALL}
			{GSSE_INCL_WISHLIST}
			{GSSE_INCL_COMPAREITEM}
		</ul>
	</div>
</li>