<li class="fields">
	<div class="input-box" id="newsletter">
	<span id="newslettercheck" class="sprite ms-checkbox " onclick="checkToggle('newslettercheck','newsletterinput');">
		<input onchange="set_cookie(this)" type="checkbox" class="checkbox" name="newsletterinput" id="newsletterinput" value="{GSSE_LANG_LangTagTermsAndCondNewsletterChecked}" {GSSE_COOKIE_CHK|LangTagFNTermsAndCondNewsletter|{GSSE_LANG_LangTagTermsAndCondNewsletterChecked}} />
		<span  class="h6">{GSSE_TXDB_contentpool|Text|Name|TermsAndCondAcceptNewsletter}</span>
	</div>
</li>
