<input name="qtyofpos" value="{GSSE_INCL_QUANTITYOFPOS}" type="hidden" />
<input name="_LANGTAGFNFIELDLOCTOTAL_" id="_LANGTAGFNFIELDLOCTOTAL_" value="{GSSE_INCL_LOCTOTAL}" type="hidden" />
<input name="_LANGTAGFNFIELDPAYMENT_" id="_LANGTAGFNFIELDPAYMENT_" value="{GSSE_INCL_PAYMENT}" type="hidden" />
<input name="_LANGTAGFNFIELDPAYMENTID_" id="_LANGTAGFNFIELDPAYMENTID_" value="{GSSE_INCL_PAYMENTID}" type="hidden" />
<input name="_LANGTAGFNFIELDPAYMENTINTERNALNAME_" id="_LANGTAGFNFIELDPAYMENTINTERNALNAME_" value="{PaymentInternalName}" type="hidden" />
<input name="_LANGTAGFNFIELDPAYMENTCHARGE_" id="_LANGTAGFNFIELDPAYMENTCHARGE_" value="{GSSE_INCL_PAYMENTCHARGE}" type="hidden" />
<input name="_LANGTAGFNFIELDDELIVERY_" id="_LANGTAGFNFIELDDELIVERY_" value="{GSSE_INCL_SHIPMENT}" type="hidden" />
<input name="_LANGTAGFNFIELDSHIPPINGADDRESSAREA_" id="_LANGTAGFNFIELDSHIPPINGADDRESSAREA_" value="{GSSE_INCL_SHIPMENTAREA}" type="hidden" />
<input name="_LANGTAGFNFIELDPOSTAGE_" id="_LANGTAGFNFIELDPOSTAGE_" value="{GSSE_INCL_SHIPMENTCOST}" type="hidden" />
<input name="_LANGTAGFNFIELDTOTALAMOUNT_" id="_LANGTAGFNFIELDTOTALAMOUNT_" value="{GSSE_INCL_INVOICETOTAL}" type="hidden" />
<input name="DiscountPrct" id="DiscountPrct" value="{GSSE_INCL_DISCOUNTPRCT}" type="hidden" />
<input name="DiscountValue" id="DiscountValue" value="{GSSE_INCL_DISCOUNTVALUE}" type="hidden" />
<input name="SumDiscount2" id="SumDiscount2" value="{GSSE_INCL_SUMDISCOUNT2}" type="hidden" />
<input name="CustDiscountPrct" id="CustDiscountPrct" value="{GSSE_INCL_CUSTDISCOUNTPRCT}" type="hidden" />
<input name="CustDiscountValue" id="CustDiscountValue" value="{GSSE_INCL_CUSTDISCOUNTVALUE}" type="hidden" />
<input name="LongVatPrct1" id="LongVatPrct1" value="{GSSE_INCL_VAT1}" type="hidden" />
<input name="LongVatValue1" id="LongVatValue1" value="{GSSE_INCL_VATTOTAL1}" type="hidden" />
<input name="LongVatPrct2" id="LongVatPrct2" value="{GSSE_INCL_VAT2}" type="hidden" />
<input name="LongVatValue2" id="LongVatValue2" value="{GSSE_INCL_VATTOTAL2}" type="hidden" />
<input name="LongVatPrct3" id="LongVatPrct3" value="{GSSE_INCL_VAT3}" type="hidden" />
<input name="LongVatValue3" id="LongVatValue3" value="{GSSE_INCL_VATTOTAL3}" type="hidden" />