<div class="product-collateral">
	<div style="{GSSE_CLASS_EXDESC}">
		<h2>{GSSE_LANG_LangTagExtendedDesc}</h2>
		<div class="std">
			{GSSE_INCL_EXDESC}
		</div>
	</div>
	{GSSE_INCL_DSREVIEWS}
	<div style="{GSSE_CLASS_MANUINFOS}">
		<table id="product-attribute-specs-table" class="data-table">
			<colgroup>
				<col width="25%">
				<col>
			</colgroup>
			<tbody>
				{GSSE_INCL_MANUINFOS}
			</tbody>
		</table>
		<script type="text/javascript">
			decorateTable('product-attribute-specs-table')
		</script>
	</div>
	<div style="{GSSE_CLASS_DOWNLOADS}">
		<h2>Downloads</h2>
		<table id="product-attribute-downloads-table" class="data-table">
			<colgroup>
				<col width="25%">
				<col>
			</colgroup>
			<tbody>
				{GSSE_INCL_DOWNLOADS}
			</tbody>
		</table>
		<script type="text/javascript">
			decorateTable('product-attribute-downloads-table')
		</script>
	</div>
	<div style="{GSSE_CLASS_HTMLTEXT1}">
		<div class="widget widget-static-block ">
			<h2>{GSSE_INCL_HTML1CAPTION}</h2>
			<div class="std">
				{GSSE_INCL_HTMLTEXT1}
			</div>
		</div>
	</div>
	<div style="{GSSE_CLASS_HTMLTEXT2}">
		<div class="widget widget-static-block ">
			<h2>{GSSE_INCL_HTML2CAPTION}</h2>
			<div class="std">
				{GSSE_INCL_HTMLTEXT2}
			</div>
		</div>
	</div>
</div>