<li>
	<a id="gs_rating" data-fancybox-type="iframe" href="{GSSE_SURL_}index.php?page=gs_addcomment&show_comm={GSSE_INCL_SHOWCOMM}" class="gs-link-rating" title="{GSSE_LANG_LangTagTextUserCommentsAdd}">{GSSE_LANG_LangTagTextUserCommentsAdd}</a>
</li>
<script language="javascript">
jQuery(document).ready(function() {
	jQuery(".gs-link-rating").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
