<div class="price-box t-left">
	<span style="display: block">{GSSE_INCL_SALEPERIOD}</span>
	{GSSE_INCL_OLDPRICENEW}
	<span class="gs_trialperiod">{GSSE_INCL_TRIALPERIOD}</span>
	<span class="{GSSE_INCL_PRICECLASS}">
		<span class="price">{GSSE_INCL_PRICEFROM}{GSSE_INCL_ITEMPRICE}</span>
	</span>
	<div class="clear"></div>
	<span class="gs_billingperiod">{GSSE_INCL_BIILINGPERIOD}</span>
	<span class="gs_aftertrial">
		<span>{GSSE_INCL_AFTERTRIAL}&nbsp;{GSSE_INCL_AFTERTRIALPRICE}</span><div class="clear"></div>
		<span>{GSSE_INCL_AFTERTRIALPERIOD}</span><div class="clear"></div>
		<span>{GSSE_INCL_RUNTIMELNG}{GSSE_INCL_RUNTIME}</span><div class="clear"></div>
		<span>{GSSE_INCL_INITPRICETXT}&nbsp;{GSSE_INCL_INITPRICE}</span>
	</span>
	<span style="{GSSE_INCL_REFPRICECLASS}">
		<span style="{GSSE_INCL_REFPRICECLASS}">{GSSE_INCL_REFCOUNT} {GSSE_INCL_REFUNIT} = {GSSE_INCL_REFPRICE}</span>
	</span>
	<span style="{GSSE_INCL_BULKCLASS}">
		{GSSE_INCL_BULKPRICES}
	</span>
</div>