<div class="my-account">
	<div class="col2-set order-info-box">
		<div class="col-1">
			<h1>{GSSE_LANG_LangTagBillingAddress}</h1>
			<ul class="form-list">
				<li class="fields">
					<label for="{GSSE_LANG_LangTagFieldCustomerNR}">{GSSE_LANG_LangTagFieldCustomerNR}:</label>
					<div class="input-box">
						<input name="{GSSE_LANG_LangTagFieldCustomerNR}" id="{GSSE_LANG_LangTagFieldCustomerNR}" class="input-text" readonly="true" value="{GSSE_COOKIE_INP|LangTagFNFieldCustomerNR}">
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
