<div class="banner1" style="width:{GSSE_TXDB_setting|SettingValue|SettingName|edBannerWidth_Text}px;">
	<p>
		<a href="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerLink1_Text}" target="_blank"> <img width="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerWidth_Text}" height="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerHeight_Text}" src="images/{GSSE_TXDB_setting|SettingValue|SettingName|edBannerImage1_Text}" title="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerTooltip1_Text}" alt="{GSSE_TXDB_setting|SettingValue|SettingName|edBannerTooltip1_Text}" /></a>
		<br />
		{GSSE_TXDB_setting|SettingValue|SettingName|edBannerText1_Text}
	</p>
</div>