<tr class="{GSSE_INCL_FOL}{GSSE_INCL_EOO}">
	<td>
		<a href="{GSSE_INCL_ITEMURL}" target="_self" title="{GSSE_INCL_ITEMNAME}">
			<img class="gs_bundle_img" src="{GSSE_INCL_ITEMIMG}" alt="{GSSE_INCL_ITEMNAME}" title="{GSSE_INCL_ITEMNAME}" />
		</a>
	</td>
	<td>
		<a href="{GSSE_INCL_ITEMURL}" target="_self" title="{GSSE_INCL_ITEMNAME}">
			{GSSE_INCL_ITEMNAME}
		</a>
	</td>
	<td class="a-center last">
		{GSSE_INCL_ITEMQTY}
	</td>
	<td class="a-right">
		<div class="price-box">
			<span id="product-price-53" class="regular-price">
				<span class="price">{GSSE_INCL_ITEMPRICE}</span>
			</span>
		</div>
	</td>
</tr>
