<input name="_LANGTAGFNFIELDDOWNLOADITM_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_DOWNLOADITEM}" type="hidden" />
<input name="_LANGTAGFNFIELDTEXTITEM_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_ITEMTEXT}" type="hidden" />
<input name="itemId{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_ITEMNUMBER}" type="hidden" />
<input name="_LANGTAGFNFIELDQUANTITY_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_ITEMQUANTITY}" type="hidden" />
<input name="_LANGTAGFNFIELDIMAGE_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_ITEMIMAGE}" type="hidden" />
<input name="_LANGTAGFNFIELDTEXTUNITPRICE_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_ITEMPRICE}" type="hidden" />
<input name="ShortVatPrct{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_VATRATE}" type="hidden" />
<input name="ShortVatValue{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_VATAMOUNT}" type="hidden" />
<input name="_LANGTAGFNFIELDSHORTVAT_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_VATAMOUNT} ({GSSE_INCL_VATRATE}%)" type="hidden" />
<input name="_LANGTAGFNFIELDTOTALPRICE_{GSSE_INCL_ITEMPOS}" value="{GSSE_INCL_ITEMTOTAL}" type="hidden" />
