<!-- Don't remove these lines!!!-->
<!-- Diese Zeilen nicht entfernen!!!-->

<!-- End -->
<body>
<div class="wrapper ">
	<noscript>
		<div class="global-site-notice noscript">
			<div class="notice-inner">
				<p>
					<strong>{GSSE_LANG_LangTagPleaseActivateJavascript}</strong>
				</p>
			</div>
		</div>
	</noscript>
	<div class="page one-column">
		<div class="bkg_header_top shoplogo">
			<div class="container_24 container_header_top cust_menu">
				<div class="grid_24">
					<div class="header_top">
						{GSSE_FUNC_SHOPLOGO}
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bkg_header_top">
			<div class="container_24 container_header_top">
				<div class="grid_24">
					<div class="header_top">
						<div class="grid_24 omega">
							{GSSE_FUNC_SHOPMENU}
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bkg_header_top cust_menu">
			<div class="container_24 container_header_top cust_menu">
				<div class="grid_24">
					<div class="header_top">
						{GSSE_FUNC_CUSMENU}
					</div>
				</div>
				<div class="clear"></div>
				<div class="minibasket-mobile">
					{GSSE_FUNC_MINIBASKET}
				</div>
			</div>
		</div>
		<div class="main-container">
			<div class="container_24 ">
				<div class="grid_5 col-left sidebar">
					{GSSE_FUNC_MAINMENUNEW}
					<div class="clear"></div>
					{GSSE_FUNC_SHOPINFONEW}
					<div class="clear"></div>
					{GSSE_FUNC_BANNER|2}
					<div class="view-desktop">
						{GSSE_FUNC_CONTENTPOOL|Standard-Content1}
						{GSSE_FUNC_CONTENTPOOL|Standard-Content2}
					</div>
				</div>
				<div class="grid_14 col-main">
					<!--Begin Top Selling Brands-->
					<!--End Top Selling Brands-->
					<div class="widget widget-static-block ">
						<h1>{GSSE_LANG_LangTagBonuses}</h1>
						<div class="box">
							<b>{GSSE_LANG_LangTagName}: </b>{GSSE_VAL_cusLastName}, {GSSE_VAL_cusFirstName}<br />
							<b>{GSSE_LANG_LangTagFieldZipCode}, {GSSE_LANG_LangTagFNFieldCity}: </b>{GSSE_VAL_cusZipCode} {GSSE_VAL_cusCity}
							<p>{GSSE_LANG_LangTagBonusPoints}: {GSSE_VAL_cusBonusPoints}</p>
							{GSSE_MSG_}
							<form name="order_bonus" method="post" action="index.php?page=gs_bonuses">
								<input type="hidden" name="action" />
								<input type="hidden" name="lang" value="{GSSE_VAL_LANG}" />
								<input type="hidden" name="shopname" value="{GSSE_TXDB_setting|SettingValue|SettingName|edShopName_Text}" />
								<input type="hidden" name="ordermail" value="{GSSE_TXDB_setting|SettingValue|SettingName|edOrderEmail_Text}" />
								<input type="hidden" name="subject" value="{GSSE_LANG_LangTagTextBonusSubject}" />
								<input type="hidden" name="cid" value="{GSSE_VAL_CID}" /><br /><br />
								<ul class="form-list">
									{GSSE_FUNC_BONUSESNEW}						
									<li>
										<div class="buttons-set">
											<button type="submit" class="button" title="{GSSE_LANG_LangTagButtonSubmit}" onClick="startaction('order');" {GSSE_VAL_ATT}>
											<span><span>{GSSE_LANG_LangTagButtonSubmit}</span></span>
											</button>
										</div>
									</li>
								</ul>
							</form>
						</div>
					</div>
					<!--Begin ProductSlider-->
					<!--Begin ProductSliderHeader-->
				</div>
				<div class="grid_5 col-right sidebar omega">
					{GSSE_FUNC_BANNER|3}
					<div class="minibasket-desktop">
						{GSSE_FUNC_MINIBASKET}
					</div>
					<div class="clear"></div>
					{GSSE_FUNC_FULLTEXTSEARCH}
					<div class="clear"></div>
					{GSSE_FUNC_ITEMCOMPARE}
					{GSSE_FUNC_LASTVIEWEDNEW}
					<div class="view-mobile">
						{GSSE_FUNC_CONTENTPOOL|Standard-Content1}
						{GSSE_FUNC_CONTENTPOOL|Standard-Content2}
					</div>
					{GSSE_FUNC_CONTENTPOOL|Standard-Content7}
					{GSSE_FUNC_CONTENTPOOL|Standard-Content8}
				</div>
			</div>
		</div>
		<div class="main-container">
			<div class="container_24 ">
				<div class="clear"></div>
				<!--Begin Social-->
				{GSSE_FUNC_SOCIALNETWORKS}
				<!--End Social-->
				<div class="clear"></div>
			</div>
		</div>
		<div class="bkg_footer_bottom">
			<div class="container_24 container_footer">
				<div class="grid_14">
					<div class="footer-container">
						<div class="footer">
							<address>
								<span>{GSSE_TXDB_contentpool|Text|Name|ShopFootNote}&nbsp;{GSSE_TXDB_contentpool|Text|Name|FootNote}</span>
							</address>
						</div>
					</div>
					<p style="display: none;" id="back-top">
						<a title="Back To Top" href="#top">Back to Top</a>
					</p>
				</div>
				<div class="grid_10">
					{GSSE_FUNC_SHIPMPAYM}
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="">
			<div id="containerDiv" style="display: none;">
				<div class="ajaxcart">
					<img class="ajax_loading" id="ajax_loading" src="{GSSE_SURL_}template/images/loading.gif" alt="">
					<div id="ajax_content" style="display:none">
						<div class="ajaxcart_row1 row1">
							<div id="ajax_image"></div>
						</div>
						<div class="row2">
							<a href="javascript:void(0);" id="closeLink" class="back"><span>Not Now</span><span class="emajc_num"></span></a>
							<a id="viewcart_button" href="javascript:void(0);" class="next" onclick="ajaxaddnext();"><span>Add to Cart</span></a>
							<a id="ajc_btn_checkout" class="next" href="#"><span>View cart &amp; checkout</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Begin Most Popular Keywords-->
	<!--End Most Popular Keywords-->
</div>
<div id="bg_fade"></div>
</body>
</html>