<body style="background: none;">
<span style="text-align:center; font-weight:bold;">{GSSE_TXDB_contentpool|Text|Name|ModelWithDrawalFormHeadline}</span><br />
&nbsp;<br />
{GSSE_TXDB_contentpool|Text|Name|ModelWithDrawalFormText}<br />
&nbsp;<br />
{GSSE_LANG_LangTagModelWithdrawalFormTo}: <br />
{GSSE_TXDB_setting|SettingValue|SettingName|edShopName_Text}<br />
<b>{GSSE_TXDB_setting|SettingValue|SettingName|edShopCompany_Text}</b><br />
{GSSE_TXDB_setting|SettingValue|SettingName|edShopStreet_Text}<br />
{GSSE_TXDB_setting|SettingValue|SettingName|edShopZipCode_Text}&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopCity_Text}<br />
{GSSE_TXDB_setting|SettingValue|SettingName|edShopCountry_Text}<br />
{GSSE_LANG_LangTagFieldFax}:&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopFax_Text}<br />
{GSSE_LANG_LangTagFieldEmail}:&nbsp;{GSSE_TXDB_setting|SettingValue|SettingName|edShopEmail_Text}<br />
&nbsp;<br />
&nbsp;<br />
{GSSE_TXDB_contentpool|Text|Name|ModelWithDrawalFormDeclaration}<br />
&nbsp;<br />
<div style="border-bottom: 1px solid black; min-width: 50%; max-width:50%; line-height:2em;">&nbsp;</div>
<div style="border-bottom: 1px solid black; min-width: 50%; max-width:50%; line-height:2em;">&nbsp;</div>
<div style="border-bottom: 1px solid black; min-width: 50%; max-width:50%; line-height:2em;">&nbsp;</div>
<div style="border-bottom: 1px solid black; min-width: 50%; max-width:50%; line-height:2em;">&nbsp;</div>
<div style="border-bottom: 1px solid black; min-width: 50%; max-width:50%; line-height:2em;">&nbsp;</div><br />
&nbsp;<br />
<div style="white-space: nowrap; float: left;">
	{GSSE_LANG_LangTagModelWithdrawalFormOrdered} _________________________(*)/{GSSE_LANG_LangTagModelWithdrawalFormReceived} _________________________(*)
</div><br />
&nbsp;<br />
{GSSE_LANG_LangTagModelWithdrawalFormCustomerName} __________________________________<br />
&nbsp;<br />
{GSSE_LANG_LangTagModelWithdrawalFormCustomerAddress}<br />
&nbsp;<br />
__________________________________<br />
&nbsp;<br />
__________________________________<br />
&nbsp;<br />
__________________________________<br />
&nbsp;<br />
&nbsp;<br />
{GSSE_LANG_LangTagDate} _________________________<br />
&nbsp;<br />
&nbsp;<br />
__________________________________<br />
{GSSE_LANG_LangTagModelWithdrawalFormSignature} ({GSSE_LANG_LangTagModelWithdrawalFormPaperonly})<br />
&nbsp;<br />
&nbsp;<br />
(*) {GSSE_LANG_LangTagModelWithdrawalFormIncorrect}<br />
&nbsp;<br />
&nbsp;&nbsp;<input class="button noPrint" type="button" name="button" onclick="window.close()" value="{GSSE_LANG_LangTagButtonCloseWindow}" />
&nbsp;<input class="button noPrint" type="button" value="{GSSE_LANG_LangTagPrint}" onClick="javascript:window.print()" /><br />
&nbsp;<br />
</body>
</html>