<div id="deliverform">
	<ul class="form-list">
		<li class="fields">
             <div class="input-box">
                 <label class="checkout " for="{GSSE_LANG_LangTagFNFieldCompany}">{GSSE_LANG_LangTagFNFieldCompany}</label>
                 <input type="text" onchange="set_cookie(this)" id="delivercompany" name="{GSSE_LANG_LangTagFNFieldCompany}" class="input-text" title="{GSSE_LANG_LangTagFNFieldCompany}" value="" />
             </div>
         </li>
		<li class="fields">
             <div class="input-box">
                 <label class="checkout required" for="{GSSE_LANG_LangTagFNFieldFormToAddress}">{GSSE_LANG_LangTagFieldFormToAddress}*</label>
                 <select onchange="set_cookie(this)" name="{GSSE_LANG_LangTagFNFieldFormToAddress}" id="delivermrormrs" class="required-entry">
                     <option value="" selected>{GSSE_LANG_LangTagTextPleaseChoose}!</option>
                     <option value="Herr">{GSSE_LANG_LangTagMr}</option>
                     <option value="Frau">{GSSE_LANG_LangTagMrs}</option>
                 </select>
             </div>
         </li>
         <li class="fields">
             <div class="input-box">
                 <label class="checkout required" for="{GSSE_LANG_LangTagFNFieldFirstName}">{GSSE_LANG_LangTag__FieldFirstName}*</label>
                 <input type="text" onchange="set_cookie(this)" id="deliverfirstname" name="{GSSE_LANG_LangTagFNFieldFirstName}" class="input-text required-entry" title="{GSSE_LANG_LangTag__FieldFirstName}" value="" />
             </div>
         </li>
         <li class="fields">
             <div class="input-box">
                 <label class="checkout required" for="{GSSE_LANG_LangTagFNFieldLastName}">{GSSE_LANG_LangTag__FieldLastName}*</label>
                 <input type="text" onchange="set_cookie(this)" id="deliverlastname" name="{GSSE_LANG_LangTagFNFieldLastName}" class="input-text required-entry" title="{GSSE_LANG_LangTag__FieldLastName}" value="" />
             </div>
         </li>
         <li class="fields">
             <div class="input-box">
                 <label class="checkout required" for="{GSSE_LANG_LangTagFNFieldAddress}">{GSSE_LANG_LangTagFieldAddress}*</label>
                 <input type="text" onchange="set_cookie(this)" id="deliverstreet" name="{GSSE_LANG_LangTagFNFieldAddress}" class="input-text required-entry" title="{GSSE_LANG_LangTagFieldAddress}" value="" kl_virtual_keyboard_secure_input="on" />
             </div>
         </li>
         <li class="fields">
             <div class="input-box">
                 <label class="checkout" for="{GSSE_LANG_LangTagFNFieldAddress2}">{GSSE_LANG_LangTagFieldAddress2}</label>
                 <input type="text" onchange="set_cookie(this)" name="{GSSE_LANG_LangTagFNFieldAddress2}" id="deliverstreet2" class="input-text" value="" />
             </div>
         </li>
         <li class="fields">
             <div class="input-box">
                 <label class="checkout required" for="{GSSE_LANG_LangTagFNFieldZipCode}">{GSSE_LANG_LangTagFieldZipCode}*</label>
                 <input type="text" onchange="set_cookie(this)" name="{GSSE_LANG_LangTagFNFieldZipCode}" id="deliverzip" class="input-text required-entry" value="" />
             </div>
         </li>
         <li class="fields">
             <div class="input-box">
                 <label class="checkout required" for="{GSSE_LANG_LangTagFNFieldCity}">{GSSE_LANG_LangTagFieldCity}*</label>
                 <input type="text" onchange="set_cookie(this)" name="{GSSE_LANG_LangTagFNFieldCity}" id="delivercity" class="input-text required-entry" value="" />
             </div>
         </li>
	</ul>
</div>	